@import "../../../theme/_variables.scss";
@import "../../../theme/_mixins.scss";
.sort-view {
  position: fixed;
  text-align: center;
  @include transform-p-map($sort-view-transform);
  @include right-p-map($sort-view-right);
  @include left-p-map($sort-view-left);
  @include top-p-map($sort-view-top);
  @include width-p-map($sort-view-width);
  z-index: 99;
  .sort-v-text {
    position: relative;
    left: -37px;
    top: 20px;
    white-space: nowrap;
  }
  .handle-line {
  @include width-p-map($sort-view-width);
  @include height-p-map($handle-line-height);
    div {
      top: 0;
    }
    &:after {
      position: absolute;
      content: "";
      width: 1px;
      height: 100%;
      left: 50%;
      top: 0;
      background: #000;
      @include width-p-map($handle-line-after-width);
      @include height-p-map($handle-line-after-height);
      @include left-p-map($handle-line-after-left);
      @include top-p-map($handle-line-after-top);
      @include transform-p-map($handle-line-after-transform);
    }
  }
  .short-v-view {
    margin-left: -46px;
    border: none;
    position: relative;
    top: -8px;
    padding: 4px;
  }
  .m-vi-txt {
    font-size: 12px;
    position: absolute;
    top: -3px;
    left: -45px
  }
}
