@import "./../../theme/variables.scss";
@import "./../../theme/mixins.scss";
.user-profile-cnt {
  @include margin-p-map($user-profile-cnt-margin);
  max-width: 1070px;
  min-height: calc(100vh - 228px);
  padding-left: 20px;
  padding-right: 20px;
  .pro-cnt {
    .border-btn {
      width: 115px;
      padding: 6px 10px;
    }
  }
  &.shop-profile-cnt {
    margin-top: 0;
  }
  .tab-nav {
    flex-wrap: nowrap;
  }

  .tbl-cnt {
    .tbl-1 {
      width: 120px;
    }
    .tbl-2 {
      @include width-p-map($pro-tbl-2-width);
    }
  }
}
.cw-user-info {
  @include top-p-map($cw-user-info-top);
}
.custom-table {
  .pro-image {
    width: 102px;
  }
  .border-btn {
    width: 145px;
  }
}
.tc-cnt {
  max-width: 700px;
  @include margin-p-map($tc-cnt-margin);
  .tc-txt {
    @include padding-left-p-map($tc-txt-padding-left);
    @include border-left-p-map($tc-txt-border-left);
  }
}
.pro-cover {
  @include height-p-map($pro-cover-height);
}
.shop-profile-cnt {
  .user-info {
    .pro-img {
      position: relative;
      @include top-p-map($shop-user-info-pro-img-top);
      @include width-p-map($shop-user-info-pro-img-width);
      @include height-p-map($shop-user-info-pro-img-height);
    }
  }
}
.about-bg {
  background: #f3f3f3;
}
.about-tx {
  max-width: 280px;
}
.complete-status {
  display: none;
}
.active-order {
  .complete-view {
    display: none;
  }
}
.complete-order {
  .complete-status {
    display: block;
  }
  .active-status {
    display: none;
  }
  .complete-view {
    display: inline-block;
  }
}
.pro-check {
  position: absolute;
  left: 25px;
  top: 10px;
  z-index: 9;
  .checkmark {
    background: #fff;
  }
}
.sr-btn-all {
  .btn {
    display: inline-flex;
    align-items: center;
    svg {
      margin-right: 5px;
    }
  }
}
.folder-btn-all {
  .btn {
    &.disabled {
      opacity: 1;
      color: #aeaeae;
      svg {
        margin-left: 5px;
        path {
          stroke: #aeaeae;
        }
      }
    }
  }
  .single-group .form-group {
    margin-bottom: 0;
  }
  .ctm-select {
    &.ctm-select-main {
      padding: 0 !important;
      border: none;
      .ctm-select-txt {
        padding-right: 15px;
      }
      .select-arr {
        right: 0;
      }
      .ctm-select-box {
        top: 34px;
      }
    }
  }
  .ctm-select-box {
    min-width: 175px;
    left: unset;
    margin-bottom: 0;
    right: 0;
    .ctm-select-option {
      font-size: 14px;
      padding: 8px 15px;
      border: 1px solid #e2e2e2;
      border-bottom-color: transparent;
      text-align: left;
      font-weight: 400;
      &:last-child {
        border-bottom: 1px solid #e2e2e2;
      }
    }
  }
}
