@import "./../../../theme/_variables.scss";
@import "./../../../theme/_mixins.scss";
.rc-slider {
    cursor: pointer;
    .rc-slider-handle {
      width: 5px;
      height: 6px;
      margin-top: 0;
      border: none;
      border-radius: 0;
      background-color: $black;
      top: 2px
    }
    .rc-slider-rail,.rc-slider-track {
      background-color: $black;
      height: 1px;
      border-radius: 0;
  }
  .rc-slider-step {
    height: 1px;
  }
  .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border-color: unset;
    box-shadow: none;
  }
  .rc-slider-handle-click-focused:focus {
    border-color: unset;
  }
  
  }
  .m-pr {
    position: absolute;
    bottom: -13px;
    font-size: 11px;
    &.min-pr {
      left: -4px;
    }
    &.max-pr {
      right: -3px;
    }
  }