@import "../../../theme/_variables.scss";
@import "../../../theme/_mixins.scss";
.header-section {
  @include padding-p-map($header-section-padding);
  border-bottom: 1px solid $black;
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out;
  background: #fff;
  .navbar {
    .navbar-brand {
      @include margin-right-p-map($navbar-brand-margin-right);
      .d-img {
        @include width-p-map($navbar-brand-d-img-width);
      }
    }
    .nav-item {
      display: inline-flex;
      .nav-link {
        display: inline-flex;
        .bar {
          display: inline-flex;
        }
        .cl {
          display: none;
        }
        &.show-m-nav {
          .cl {
            display: inline-flex;
          }
          .bar {
            display: none;
          }
        }
      }
      &.set-li {
        .pro-cnt {
          .pro-img {
          }
          .pro-txt-cnt {
            .sm-text-fw6 {
              @include font-size-p-map($navbar-nav-link-font-size);
            }
          }
        }
      }
      &.msg-box-li {
        .message-list-cnt {
          border: none;
        }
        .item-top {
          border-bottom: none;
        }
      }
    }
    .cat-li {
      .list-box {
        top: 50px;
      }
      &:hover {
        .list-box {
          display: block;
        }
      }
    }
  }
  .search-group {
    flex-wrap: nowrap;
    .form-control {
      transition: all 0.5s ease;
      @include width-p-map($search-group-form-control-width);
      &:focus {
        @include width-p-map($search-group-form-control-focus-width);
      }
    }
    &.li-sg {
      @include width-p-map($header-search-group-width);
      .form-control {
        position: absolute;
        left: 30px;
      }
    }
  }
  &.fixed-header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 99999;
    -webkit-transition: all 0.8s ease-out;
    -moz-transition: all 0.8s ease-out;
    -o-transition: all 0.8s ease-out;
    -ms-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
  }
}
.message-box {
  width: 420px;
  max-height: calc(100vh - 90px);
  height: max-content;
  left: unset;
  right: -20px;
  .item-top {
    padding: 25px 15px;
  }
  .box-arr {
    right: 22px;
    left: unset;
  }
  .item-list {
    max-height: calc(100vh - 218px);
    height: auto;
    .item {
      &:last-child {
        border-bottom: none;
      }
    }
  }
  .pro-cnt {
    .pro-img {
      width: 55px;
    }
    .pro-txt-cnt {
      width: calc(100% - 55px);
    }
  }
  .see-all-m {
    border-top: 1px solid $black;
  }
}
.count-n {
  position: absolute;
  top: -13px;
  left: 9px;
  &:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 4px;
    background: $orange;
  }
}

.search-box {
  top: 52px;
  padding: 30px;
  .pro-cnt {
    margin-bottom: 18px;
    .pro-img {
      width: 38px;
      height: 38px;
    }
    .pro-txt-cnt {
      width: calc(100% - 38px);
    }

    &.pro-cnt-wr {
      .pro-img {
        width: 36px;
        height: 38px;
        border-radius: 0;
        img {
          border-radius: 0;
        }
      }
      .pro-txt-cnt {
        width: calc(100% - 36px);
      }
    }
  }
  .cat-s {
    position: relative;
    margin-left: 25px;
    &::after {
      position: absolute;
      content: "";
      background: $gray7;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      top: 50%;
      left: -14px;
      transform: translate(0, -50%);
    }
    &:first-child {
      margin-left: 0;
      &::after {
        display: none;
      }
    }
  }
}
.sett-box {
  &.ctm-select-box {
    left: unset;
    right: 0;
    min-width: 160px;
    .ctm-select-option {
      @include font-size-p-map($sett-box-ctm-select-option-font-size);
      font-weight: 600;
      text-align: left;
    }
  }
}
