@import "./../../../theme/variables.scss";
@import "./../../../theme/mixins.scss";
.fixed-footer {
  position: fixed;
  left: 20px;
  bottom: 15px;
  @include width-p-map($fixed-footer-width);
  padding-top: 8px;
  border-top: 1px solid #aeaeae;
  .custom-breadcrumb {
    .breadcrumb-item {
      font-size: 10px; 
      color: #aeaeae;
      a {
        color: #aeaeae;
        &:hover {
          color: #ff6a00;
        }
      }
      &::before {
        color: #aeaeae;
        padding: 0 3px;
      }
      &.faq-li {
        &::before {
          @include display-p-map($fixed-footer-faq-li-before-display);
        }
      }
      &:last-child {
        &::before {
          @include display-p-map($fixed-footer-item-last-child-before-display);
        }
      }
    }
  }
}
.ab-mf {
  .fixed-footer {
    @include display-p-map($ab-fixed-footer-display);
    @include position-p-map($ab-fixed-footer-position);
  }
}
