@media (min-width: 992px) {
  .full-height {
    height: $view-port-height;
    overflow: hidden;
  }

  .height-70 {
     height: 70vh;
     overflow: hidden;
   }
}

$flex-sizes: 1,2,3,4,5,6,7,8,9,10;
@each $i in $flex-sizes {
  .flex-#{$i} {
    flex: #{$i} !important;
  }
}

.static-pages {
  .container {
    max-width: 820px;
    p {
      margin-bottom: 50px;
    }
    ul {
      margin-top: -25px;
      margin-bottom: 50px;
    }
  }
}
