body {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}

p {
  margin-bottom: 0;
}

.label-normal {
  font-size: $badge-font-size;
}

h1, h2, h3, h4 {
  margin: 0.5em 0 0.4em;
  font-weight: 500;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin-top: 0;
}

label {
  font-size: 14px;
}

a, .btn-link {
  color: $green;
  @include hover {
    color: darken($green, 15%);
    text-decoration: none;
    transition: color 300ms ease-in-out;
    cursor: pointer;
  }

  &:focus {
    text-decoration: none;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.btn-danger {
  background-color: $red-light;
  border-color: $red-light;

  @include hover {
    background-color: darken($red-light, 10%);
    border-color: darken($red-light, 10%);
  }
}

.cu-btn-lg {
  padding: 1rem 3.5rem;
  font-size: 17px;
  font-weight: bold;
}

.cu-font-weight-medium {
  font-weight: $font-weight-medium;
}

.cu-shadow {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
  }
}

.cu-shadow-non-hover {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

.cu-sticky-sidebar {
  position: sticky;
  top: 100px;
  z-index: 1020;
}

.cu-text-large {
  font-size: $badge-font-size * 3;
}

.cu-text-larger {
  font-size: $badge-font-size * 6.5;
}

.cu-avoid-padding-4 {
  margin: 0 -1.5rem;
}

.cu-bangla-font {
  font-family: 'SolaimanLipi', sans-serif;
}

.cu-f-nochange:focus {
  border: initial !important;
}

.cu-bg-light-grey {
  background: #eee;
}

.cu-fixed-top-margin {
  margin-top: $nav-bar-height;
}

.cu-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cu-absolute-center-vertical {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translate(0, -50%);
}

.cu-page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(#{$view-port-height} - #{$nav-bar-height});
  position: relative;
}

.cu-page-min-height {
  min-height: calc(#{$view-port-height} - #{$nav-bar-height});
}

.cu-section-head {
  border-bottom: 1px solid #eeeeee;
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 10px;
  }
}

.cu-unread-indicator {
  background: $green;
  height: 10px;
  width: 10px;
}

.seen {
  .cu-unread-indicator {
    display: none !important;
    visibility: hidden;
  }
}

.unseen {
  .cu-notification-body {
    font-weight: 500;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cu-scroll-bar {
  & > div:nth-child(3) {
    opacity: 0;
  }
  &:hover {
    div:nth-child(3) {
      opacity: 1;
    }
  }
}

.horizontal .cu-scroll-bar {
  & > div:nth-child(2) {
    height: 2px !important;
  }
}

.cu-arrow {
  position: absolute;
  display: block;
  width: 20px;
  height: 10px;
  top: -10px;
  &:before {
    content: "";
    border: transparent solid;
    top: 0;
    border-width: 0 20px 10px;
    border-bottom-color: #ffffff;
    display: block;
  }
}

.btn:focus, .btn.focus {
  box-shadow: none !important;
}

.rating-empty {
  color: #ddd;
}

.cu-list-w-icon {
  li {
    display: flex;
    i {
      margin-right: 10px;
      margin-top: 2px;
    }
  }
}

.my-10 {
  margin-top: $spacer*8;
  margin-bottom: $spacer*8;
}

.cu-landing-hero-area {
  background-size: contain;
  min-height: 55vh;
  h1 {
    margin: 0 0 10px 0;
  }
  .cu-landing-hero-overlay {
    background: url("/img/landing/gradient-5.png") no-repeat left;
    background-size: cover;
  }
}

.cu-boxed-location-input {
  padding: 1rem .375rem !important;
}

.cu-boxed-location-input-landing {
  padding: 1rem !important;
}

.cu-box-location-button {
  padding: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.landing-app-promo {
  background: url("/img/landing/app-bg.jpg") no-repeat center right;
  background-size: contain;
}

.cu-store-button {
  width: 200px;
  height: auto;
}
