$font-family-sans-serif:      'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
$headings-font-family:        $font-family-sans-serif;

$badge-font-size:             1.063rem;
$small-font-size:             0.875rem;

$h1-font-size:                2.188rem;
$h2-font-size:                1.563rem;
$h3-font-size:                $badge-font-size * 1.3;
$h4-font-size:                $badge-font-size * 1.2;
$h5-font-size:                $badge-font-size * 1.1;
$h6-font-size:                $badge-font-size;
$custom-select-font-size-sm:  0.875rem;

$font-weight-medium:            500;

$card-spacer-y:               .25rem;
$card-spacer-x:               .25rem;
$card-border-width:           0;
$card-bg:                     transparent;
$card-cap-bg:                 transparent;

$body-color:                        #030303;
$gray-600:                          #5B5B5B;
$green:                             #4FB65C;
$red:                               #FE3824;
$red-light:                         #EC644B;
$dropdown-border-color:             #eee;

$navbar-light-color:                #474747;
$navbar-light-hover-color:          #4CB157;
$navbar-light-active-color:         #4CB157;

$nav-link-padding-y:                0;
$navbar-nav-link-padding-x:         .8rem;

$input-border-radius:               0;
$input-placeholder-color:           $body-color;

$modal-md:                          620px;

$grid-breakpoints: (
		xs: 0,
		sm: 576px,
		md: 768px,
		lg: 992px,
		xl: 1200px,
		xxl: 1400px
);

$container-max-widths: (
		sm: 540px,
		md: 720px,
		lg: 960px,
		xl: 1140px,
		xxl: 1340px
);

/* Custom variables */
$view-port-height: 100vh;
$nav-bar-height:   74px;

@import '~bootstrap/scss/variables';
