@import "../../../theme/_variables.scss";
@import "../../../theme/_mixins.scss";
.footer {
  border-top: 1px solid $black;
  padding: 15px 22px;
  .navbar {
    .navbar-nav {
      .nav-item {
        &:first-child {
          .nav-link {
            margin-left: 0;
          }
        }
      }
    }
  }
}
