@import "../../../../../theme/variables.scss";
@import "../../../../../theme/mixins.scss";
.user-plus {
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid $black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  background: $white;
  cursor: pointer;
  svg {
    width: 6px;
    height: 6px;
    line,
    path {
      color: $black;
    }
  }
}
