@import "../../../../theme/_variables.scss";
@import "../../../../theme/_mixins.scss";
.home-title {
  padding: 100px 30px;
  background: $black;
  .seller-ar {
    position: relative;
    display: inline-flex;
    svg {
      height: 16px;
      width: 23px;
      line,
      path {
        stroke: $white;
      }
    }
  }
  .home-title-cnt {
    @include width-p-map($home-title-cnt-width);
    margin: auto;
    .xx-md-title {
      @include font-size-p-map($home-title-xx-md-title-font-size);
      @include line-height-p-map($home-title-xx-md-title-line-height);
    }
    .seller-txt {
      display: flex;
      .txt-w {
        width: 228px;
      }
    }
  }
  .seller-title {
    .seller-ar {
      transform: translate(0, -50%);
    }
  }
}
