@import "./../../theme/variables.scss";
@import "./../../theme/mixins.scss";
.product-content {
  max-width: 1100px;
  @include margin-p-map($product-content-margin);
  overflow-x: hidden;
  .nav-fill {
    .nav-item {
      text-align: left;
    }
  }
  .sm-box {
    min-width: 80px;
    padding: 12px 8px;
  }
  .ctm-select {
    margin-top: 15px;
    border: 1px solid #e2e2e2;
    padding: 10px 15px;
    height: 50px;
    .select-arr {
      right: 15px;
    }
    &.ctm-select-main {
      .ctm-select-box {
        top: 43px;
        .ctm-select-option {
          padding: 12px 15px;
        }
      }
    }
  }
}
.bt-lsr {
  position: absolute;
  bottom: 0;
  @include right-p-map($bt-lsr-right);
}
.like-txt {
  position: relative;
  top: 2px;
}
.discount-price {
  padding-left: 10px;
  border-left: 1px solid #000;
  .del-price {
    color: #868686;
    text-decoration: line-through;
  }
}
.wrap-ul {
  padding-left: 15px;
  flex-wrap: wrap;
  li {
    max-width: 50%;
    flex: 0 0 50%;
  }
}
.tab-cnt {
  @include border-bottom-p-map($tab-cnt-border-bottom);
  .table {
    td,
    td {
      text-align: center;
      border: none;
    }
  }
}
.de-tlt {
  &.active {
    color: #868686;
    svg {
      transform: rotate(180deg);
    }
  }
}
.pro-c-img {
  .btn {
    @include width-p-map($pro-c-img-btn-width);
  }
}
.fixed-footer {
  display: block !important;
}

.sticky-d-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  background: #fff;
}
.sticky-srl {
  @include height-p-map($sticky-srl-height);
  @include overflow-y-p-map($sticky-srl-overflow-y);
}
