@import "../../../../theme/variables.scss";
@import "../../../../theme/mixins.scss";
.product-post-section {
  @include padding-p-map($product-post-section-padding);
}

.home-content {
  max-width: 950px;
  margin: auto;
}

.product-post {
  @include margin-bottom-p-map($product-post-margin-bottom);
}