@import "./../../theme/_variables.scss";
@import "./../../theme/_mixins.scss";

.col-color-upload {
   @include max-width-p-map($col-color-upload-max-width);
   @include flex-p-map($col-color-upload-flex);
}

.tab-nav {
  &.v-tab-nav {
    .nav-item {
      @include flex-p-map($var-nav-item-flex);
      text-align: center;
      .nav-link {
        justify-content: center;
      }
    }
  }
}
.s-td-w {
  width: 20%;
}
.create-p-list {
  @include max-height-p-map($col-color-upload-max-height);
  @include overflow-y-p-map($col-color-upload-overflow-y);
  padding-right: 3px;
  height: auto;
  width: 100%;
  &::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #1e2b37;
  }
  .form-control {
    &.table-input {
      border-radius: 0;
      border: 0;
      font-weight: 400;
      padding: 5px 10px;
      height: 100%;
      font-size: 14px;
      &::placeholder {
        color: $black;
        opacity: 1;
      }
    }
  }
  .table {
    border: none;
    th,
    td {
      position: relative;
      height: 50px;
      padding: 0 10px;
      vertical-align: middle;
      border-color: $silver;
    }
    th {
      border: none;
      svg {
        margin-left: 5px;
      }
    }
    .td-right-txt {
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%);
    }
    td {
      font-weight: 500;
    }
    .one-z {
      width: max-content;
    }
    .one-td {
      width: 50px;
      padding: 6px;
    }
    .two-td {
      width: 34%;
    }
    .three-td {
      width: 17.5%;
    }
    .four-td {
      width: 10%;
    }
    .five-td {
      width: 14.5%;
    }
    tr {
      &.active {
        .two-td {
          border: 2px solid $black;
          border-top-width: 2px;
          border-left-width: 2px;
          color: $black;
        }
      }
    }
  }

  .pm-q {
    width: 15px;
    display: flex;
    height: 100%;
    font-size: 14px;
    text-align: center;
    position: absolute;
    right: 2px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .p-q,
  .m-q {
    position: absolute;
    width: 13px;
    cursor: pointer;
    height: 13px;
    line-height: 13px;
  }
  .p-q {
    top: 7px;
  }
  .m-q {
    bottom: 7px;
  }
}
.add-atr-box {
  position: absolute;
  display: none;
  @include left-p-map($add-atr-box-left);
  @include right-p-map($add-atr-box-right);
  width: 350px;
  top: 39px;
  padding: 15px 15px 0;
  border: 1px solid $silver-1;
  background: $white;
  z-index: 99;
  text-align: left;
}
.add-atr-li {
  position: relative;
  &.active {
    .add-atr-box {
      display: block;
    }
  }
}
.form-control {
  &.item-des-form-control {
    height: 350px;
    resize: none;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid $silver !important;
    padding: 30px !important;
    color: $primary-gray;
  }
}
.prepend-input {
  .ctm-container {
    .checkmark {
      top: -13px;
    }
  }
}
.cs-sm-box {
  .sm-box {
    border-color: transparent;
    &:hover {
      border-color: $black;
    }
  }
}
.md-title {
  @include font-size-map($md-title-font-size);
  @include line-height-p-map($md-title-line-height);
}
