.form-control:not(select) {
  border: 0;
  padding: .375rem 0;
  border-bottom: 2px solid;

  &::placeholder {
    opacity: .52;
  }

  &:focus, &:disabled {
    color: #495057;
    background-color: #fff;
    box-shadow: none;
  }

  &:focus {
    outline: 0;
    border-bottom-color: $green !important;
  }
}

.form-group.has-error {
  .form-control {
    border-bottom: 2px solid $red !important;
  }
}

.cu-form-check-inline:last-of-type {
  margin-right: 0;
}

.cu-form-check-inline input[type="radio"] {
  opacity: 0;
  margin-left: 5px;
}

.cu-form-check-inline label {
  cursor: pointer;
}

.cu-form-check-inline input[type="radio"] + label::before{
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  border: 2px solid $text-muted;
  border-radius: 10px;
  position: absolute;
  left: -2px;
  bottom: 1px;
}

.cu-form-check-inline  input[type="radio"] + label::after {
  display: inline-block;
  height: 8px;
  width: 8px;
  background: $green;
  left: 3px;
  bottom: 6px;
  position: absolute;
  border-radius: 5px;
}

.cu-form-check-inline input[type="radio"] + label::after {
  content: none;
}

.cu-form-check-inline input[type="radio"]:checked + label::after {
  content: "";
}

.cu-form-check-inline input[type="radio"]:checked + label::before {
  border: 2px solid $green;
}

.cu-form-check-input {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  // Box.
  & + label:before {
    content: '';
    margin-right: 13px;
    display: inline-block;
    width: 13px;
    height: 13px;
    background: white;
    border: 1px solid rgba(3,3,3,0.23);
    border-radius: 2px;
  }

  // Box focus
  &:focus + label:before {
    box-shadow: none;
  }

  // Box checked
  &:checked + label:before {
    background: $green;
    border-color: $green;
  }

  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }


  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  &:checked + label:after {
    content: '';
    display: block;
    background: url('/img/tick.png');
    width: 10px;
    height: 10px;
    position: absolute;
    top: 6px;
    left: 1px;
    background-size: contain;
  }
}
