.modal-header .close {
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: 1px solid #030303;
  width: 24px;
  height: 24px;
  font-size: 18px;
  opacity: 1;
  position: absolute;
  right: 1rem;

  &:focus {
    outline: 0;
  }
}

.modal-body p {
  margin: 0;
  font-weight: $font-weight-medium;
  &.small {
    font-weight: $font-weight-normal;
  }
}

.modal-body hr {
  margin: 0 -1rem;
}

.modal-open {
  overflow: auto;
  padding-right: 0 !important;
}

.modal-backdrop.show {
  opacity: 0.5 !important;
}
