.cu-nav-link {
  font-size: $small-font-size;
}

.cu-footer-nav {
  margin: 0;
  padding: 0;
  flex-flow: column;
}

.cu-footer-nav .cu-nav-item .cu-nav-link {
  padding: 0;
}


.cu-global-footer .cu-nav-item .cu-nav-link {
  color : $white;
  margin-bottom: 20px;
  font-size: $font-size-base;
}
