@import "./../../theme/variables.scss";
@import "./../../theme/mixins.scss";

.connection-active-bubble-color {
  &::after {
    background: $green !important;
  }
}
.message-list-cnt {
  @include width-p-map($message-list-cnt-width);
  border: 1px solid #000;
  border-top: none;
  border-bottom: none;
}
.message {
  @include width-p-map($message-width);
  @include display-p-map($message-display);
}
.item-top {
  padding: 30px 20px;
  border-bottom: 1px solid #000;
}
.item-top1 {
  padding: 13px 20px;
  .item-pro-img {
    &::after {
      display: block;
    }
  }
}
.chat-list,
.item-list {
  overflow-y: auto;
  cursor: pointer;
}
.chat-list {
  height: calc(100vh - 260px);
}
.item-list {
  height: calc(100vh - 168px);
}
.item-pro-img {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    height: 11px;
    width: 11px;
    border: 1px solid #000;
    top: 0;
    right: 4px;
    background: $orange;
    border-radius: 50%;
  }
}
.item {
  position: relative;
  background: #fff;
  padding: 15px;
  border-bottom: 1px solid #000;

  .time {
    position: absolute;
    right: 15px;
  }
  &:hover,
  &.active {
    background: #efefef;
  }
  &.online {
    .pro-img {
      &::after {
        display: block;
      }
    }
  }
  &:last-child {
    // border-bottom: none;
  }
}

.chat-list {
  padding: 20px;
}
.chat {
  display: flex;
  margin-bottom: 8px;
  .pro-cnt {
    white-space: normal;
  }
  .m-time {
    margin-bottom: 5px;
  }
  .chat-txt {
    display: inline-block;
  }
  &.self {
    .m-time {
      padding-left: 35px;
    }
    .chat-txt {
      max-width: 500px;
      background: #efefef;
      padding: 13px 20px;
      border-radius: 0 50px 50px 50px;
    }
  }
  &.other {
    justify-content: flex-end;

    .m-time {
      text-align: right;
    }
    .chat-txt {
      max-width: 320px;
      background: rgb(103, 158, 241);
      color: #fff;
      padding: 10px 15px 10px 30px;
      border-radius: 50px 0 50px 50px;
    }
  }
}
.chat-input {
  padding: 30px 20px;
  border-top: 1px solid #000;
  .append-input {
    right: 0;
  }
}
.add-file {
  margin-right: 15px;
  span {
    position: relative;
    margin-right: 15px;
  }
}
.fms {
  display: none;
}
.fixed-messenger {
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99999;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  .fms {
    display: inline-block;
  }
  .nms {
    display: none;
  }
  .fixed-message-cnt {
    max-width: 330px;
    @include width-p-map($message-width);
    border: 1px solid #000;
    background: #fff;
    height: 100%;
    margin-right: 20px;
    position: relative;
    top: 20px;
    .message,
    .message-list-cnt {
      width: 100%;
      height: 100%;
    }
    .item-list {
      height: calc(100% - 85px);
    }
    .message {
      display: block;
      .ctm-select-box {
        width: 240px;
        top: 0;
        left: -250px;
        .ctm-select-option {
          display: flex;
          align-items: center;
          &:hover {
            color: $orange;
          }
        }
      }
      .item-top1 {
        padding: 10px;
      }
      .pro-cnt {
        .pro-img {
          &.pro-img-md {
            width: 42px;
            height: 42px;
          }
          &.pro-img-sm {
            width: 24px;
            height: 24px;
          }
        }
        .pro-txt-cnt {
          &.pro-txt-cnt-md {
            width: calc(100% - 42px);
          }
          &.pro-txt-cnt-sm {
            width: calc(100% - 24px);
          }
        }
      }
    }
    .message-list-cnt {
      border: none;
    }
    .chat-list {
      padding: 10px;
      height: calc(100% - 115px);
    }
    .chat-input {
      padding: 10px 10px;
      border-top: 1px solid #000;
    }
    .add-file {
      margin-right: 10px;
      span {
        margin-right: 5px;
      }
    }
  }
  .fixed-message-pro {
    width: 70px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    .pro-img {
      background: #fff;
      margin-left: auto;
    }
  }
}
