@import "../../../../theme/_variables.scss";
@import "../../../../theme/_mixins.scss";
.module-title-cnt {
  @include margin-p-map($module-title-cnt-margin);
  border-bottom: 1px solid $black;
  border-bottom: 1px solid #000;
  max-width: 1330px;
  .show-img-pp {
    transition: 0.8s;
  }
  .module-title-top-img {
    .show-img-pp {
      padding-bottom: 55%;
    }
  }
  .eco-tlt {
    position: relative;
    @include padding-p-map($eco-tlt-padding);
    /*
    max-width: 1130px;
    margin: auto; 
    */
    .lg-title {
      @include font-size-p-map($home-title-xx-md-title-font-size);
      @include line-height-p-map($home-title-xx-md-title-line-height);
    }
  }
}
.td-img-1,
.td-img-3 {
  position: relative;
  @include width-p-map($td-img-31-width);
  .show-img-pp {
    @include min-width-p-map($td-img-31-width);
  }
}

.td-img-2 {
  width: 100%;
}
.td-img-3 {
  top: -30px;
  @include right-p-map($img-tp-move-right);
}
.td-img-1,
.eco-tlt-col-1,
.td-img-3,
.eco-tlt-col-3 {
  transition: all 0.8s ease-in-out;
}
.eco-tlt-col-1 {
  position: relative;
  @include position-p-map($eco-tlt-col-1-position);
  @include width-p-map($eco-tlt-col-1-width);
  @include top-p-map($eco-tlt-col-1-top);
  @include left-p-map($eco-tlt-col-1-left);
  .show-img-pp {
    @include min-width-p-map($eco-tlt-col-1-width);
    padding-bottom: 138%;
  }
  .eco-tlt-img-top {
    position: absolute;
    @include width-p-map($eco-tlt-img-top-width);
    @include left-p-map($eco-tlt-img-top-left);
    z-index: 9;
    bottom: -15px;
    .show-img-pp {
      @include min-width-p-map($eco-tlt-img-top-width);
    }
  }
}
.eco-tlt-col-2 {
  width: 100%;
}
.eco-tlt-col-3 {
  position: relative;
  @include min-width-p-map($eco-tlt-col-3-min-width);
  @include top-p-map($eco-tlt-col-3-top);
  .bi-cnt {
    position: relative;
    @include width-p-map($eco-tlt-col-3-img-width);
  }
  .show-img-pp {
    @include min-width-p-map($eco-tlt-col-3-img-width);
    padding-bottom: 138%;
  }
}
.hover-ml {
  &:hover {
    .show-img-pp {
      @include margin-left-p-map($hover-ml-margin-left);
    }
  }
}
.animation-1,
.animation-2,
.animation-3,
.animation-4 {
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
.animation-1 {
  &.active {
    animation-name: aninimationOne;
  }
}
.animation-2 {
  &.active {
    animation-name: aninimationTwo;
  }
}
.animation-3 {
  &.active {
    animation-name: aninimationTh;
  }
}
.animation-4 {
  &.active {
    animation-name: aninimationF;
  }
}

@keyframes aninimationOne {
  0%   {left:0px; top:0px;}
  25%  {left:0px; top:-30px;}
  50%  {left:80px; top:-30px;}
  75%  {left:80px; top:0px;}
  100% {left:0px; top:0px;}
}

@keyframes aninimationTwo {
  0%   {right: -55px; top:-30px;}
  25%  {right: -55px; top:0px;}
  50%  {right:80px; top:0px;}
  75%  {right:80px; top:-30px;}
  100% {right: -55px; top:-30px;}
}
@keyframes aninimationTh {
  0%   {left:115px; top:-100px;}
  25%  {left:115px; top: -15px;}
  50%  {left:195px; top: -15px;}
  75%  {left:195px; top:-100px;}
  100% {left:115px; top:-100px;}
}
@keyframes aninimationF {
  0%   {left:0px; top: 0px;}
  25%  {left:0px; top: 35px;}
  50%  {left:80px; top: 35px;}
  75%  {left:80px; top: 0;}
  100% {left:0px; top: 0;}
}
@media screen and (max-width: 1380px) {
  @keyframes aninimationTwo {
    0%   {right: -24px; top:-30px;}
    25%  {right: -24px; top:0px;}
    50%  {right:80px; top:0px;}
    75%  {right:80px; top:-30px;}
    100% {right: -24px; top:-30px;}
  }
}
@media screen and (max-width: 1280px) {
  @keyframes aninimationTh {
    0%   {left:85px; top:-100px;}
    25%  {left:85px; top: -15px;}
    50%  {left:165px; top: -15px;}
    75%  {left:165px; top:-100px;}
    100% {left:85px; top:-100px;}
  }
}
@media screen and (max-width: 1220px) {
  @keyframes aninimationTh {
    0%   {left:85px; top:-60px;}
    25%  {left:85px; top: -15px;}
    50%  {left:165px; top: -15px;}
    75%  {left:165px; top:-60px;}
    100% {left:85px; top:-60px;}
  }
}
@media screen and (max-width: 767px) {
  @keyframes aninimationTh {
    0%   {left: 60px; top: 40px;}
    25%  {left: 60px; top: 75px;}
    50%  {left: 120px; top: 75px;}
    75%  {left:120px; top: 40px;}
    100% {left:60px; top:40px;}
  }
  @keyframes aninimationF {
    0%   {left:0px; top: 0px;}
    25%  {left:0px; top: -50px;}
    50%  {left:-60px; top: -50px;}
    75%  {left:-60px; top: 0;}
    100% {left:0px; top: 0;}
  }
}