.mobile-menu {
  position: absolute;
  top: 81px;
  left: 0;
  width: 100%;
  padding: 15px;
  background: #fff;
  z-index: 9999;
  height: calc(100vh - 80px);
  overflow-y: auto;
  .nav-pills {
    .nav-item {
      position: relative;
      width: 100%;
      .nav-link {
        background: transparent;
        color: #000;
        border-bottom: 1px solid #e5e5e5;
        border-radius: 0;
        padding: 15px 5px;
        span {
          display: inline-flex;
        }
        .mm-arr {
          position: absolute;
          right: 5px;
          display: flex;
          svg {
            width: auto;
            height: auto;
          }
        }
        svg {
          width: 16px;
          height: 16px;
          path,
          line {
            stroke: #000;
          }
        }
        &.active {
          .mm-arr {
            svg {
              transform: rotate(90deg);
            }
          }
        }
      }
    }
  }
  .lan-sc-d {
    .form-group {
      width: max-content;
      margin-bottom: 0;
    }
    .ctm-select {
      border-bottom: 0;
      .ctm-select-txt {
        padding-right: 10px;
      }
      &.ctm-select-main {
        .ctm-select-box {
          top: unset;
          bottom: 10px;
          text-align: center;
        }
      }
    }
  }
}
