@import "./../../../../theme/variables.scss";
@import "./../../../../theme/mixins.scss";
.shop-cover {
  @include height-p-map($shop-cover-height);
}
.shop-cnt {
  margin-bottom: 50px;
  @include padding-bottom-p-map($shop-cnt-padding-bottom);
  @include border-bottom-p-map($shop-cnt-border-bottom);
  .shop-pro-cnt {
    @include  padding-left-p-map($shop-pro-cnt-padding-left);
    .pro-img {
      &.pro-img-xl {
        @include width-p-map($shop-pro-img-xl-width);
        @include height-p-map($shop-pro-img-xl-height);
      }
       &.pro-img-xxxl {
        @include width-p-map($shop-pro-img-xxxl-width);
        @include height-p-map($shop-pro-img-xxxl-height);
      }
    }
    .pro-txt-cnt {
      &.pro-txt-cnt-xl {
        @include width-p-map($shop-pro-txt-cnt-xl-width);
      }
      &.pro-txt-cnt-xxxl {
        @include width-p-map($shop-pro-txt-cnt-xxxl-width);
      }
    }
  }
  .shop-pro-img {
    position: relative;
    top: -46px;
  }

  &.shop-cnt-view-2 {
    .shop-pro-cnt {
      @include padding-left-p-map($view-2-shop-pro-cnt-padding-left);
    }
    .shop-pro-img {
      @include top-p-map($shop-v2-pro-img-top);
    }
    .v2-fol-txt {
      position: relative;
      @include left-p-map($v2-fol-txt-left);
    }
  }
}
