@import "../../../theme/_variables.scss";
@import "../../../theme/_mixins.scss";
.add-post {
  max-width: 580px;
  @include margin-p-map($add-post-margin);
  .append-input {
    svg {
      width: 20px;
      height: 20px;
      path {
        stroke: #000;
      }
    }
  }
  .show-fl-n {
    position: relative;
    .fl-n {
      display: none;
      position: absolute;
      background: #000;
      padding: 2px 7px;
      font-size: 10px;
      color: #fff;
      top: 21px;
      left: 48px;
      z-index: 9;
      border-radius: 3px;
      text-transform: capitalize;
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-left: solid 5px transparent;
        border-right: solid 5px transparent;
        border-bottom: solid 5px #000;
        left: 17px;
        top: -5px;
      }
    }
    &:hover {
      .fl-n {
        display: block;
      }
    }
  }
}
