.btn {
  font-family: $font-family;
  font-weight: 600;
  border-radius: 0;
  &.btn-w-115 {
    width: 115px;
  }
}
.border-btn {
  background-color: transparent;
  border: 1px solid $black;
  padding: 6px 25px;
  font-size: 13px;
  color: $black;
  &.border-btn-gray {
    color: $primary-gray;
    border-color: $primary-gray;
  }
  &:hover {
    color: $orange;
  }
}
.fb-bg-btn,
.black-bg-btn,
.silver-bg-btn {
  padding: 10px 25px;
}
.silver-bg-btn,
.fb-bg-btn {
  font-weight: 500;
  font-size: 16px;
}
.sm-black-btn {
  position: relative;
  padding: 5px 27px 5px 15px;
  font-size: 12px;
  .close-b {
    position: absolute;
    display: flex;
    right: 10px;
    top: 50%;
    transform: scale(1) translate(0, -50%);
    transition: 0.4s ease;
    svg {
      width: 14px;
      height: 14px;
      transform: scale(1);
      transition: 0.4s ease;
      path,
      line {
        stroke: $white;
      }
    }
    &:hover {
      transform: scale(1.1) translate(0, -50%);
      svg {
        transform: scale(1.1);
      }
    }
  }
}
.black-bg-btn,
.fb-bg-btn {
  color: $white;
}
.black-bg-btn {
  background: $black;
  border: 1px solid $black;
  svg {
    transition: 0.4s ease;
    path,
    line {
      stroke: $white;
    }
  }
  &:hover {
    background: $white;
    color: $black;
    svg {
      path,
      line {
        stroke: $black;
      }
    }
  }
}

.fb-bg-btn {
  background: $fb;
}
.bg-gray-btn {
  background: $gray7;
  border-color: $gray7;
  &:hover {
    background: transparent;
    color: $gray7;
}
}
.silver-bg-btn {
  background: $silver-1;
  color: $primary-gray;
}

.prev-btn,.next-btn {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  cursor: pointer;
  z-index: 9;
}
.prev-btn {
  left: 10px;
}
.next-btn {
  right: 10px;
}

.srl-top-btn {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  @include width-p-map($srl-top-btn-width-height);
  @include height-p-map($srl-top-btn-width-height);
  @include left-p-map($srl-top-btn-left);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  svg {
  @include width-p-map($srl-top-btn-svg-width);
  }
}