@mixin transform($v, $d1, $d2: null) {
  @if $v == translateX {
    @include translateX($d1);
  } @else if $v == rotate {
    @include rotate($d1);
  } @else if $v == translateY {
    @include translateY($d1);
  } @else if $v == translate {
    @include translate($d1, $d2);
  }
}
@mixin translate($v1, $v2) {
  transform: translate($v1, $v2);
  -webkit-transform: translate($v1, $v2);
}
@mixin translateX($v1) {
  transform: translateX($v1);
  -webkit-transform: translateX($v1);
}
@mixin translateY($v1) {
  transform: translateY($v1);
  -webkit-transform: translateY($v1);
}
@mixin rotate($v1) {
  transform: rotate($v1);
  -webkit-transform: rotate($v1);
}
@mixin transition-duration($v1) {
  -webkit-transition-duration: $v1;
  transition-duration: $v1;
}
@mixin dimension($h: null, $w: null) {
  @if $h != null {
    height: $h;
  }
  @if $w != null {
    width: $w;
  }
}
@mixin dimensionMax($h: null, $w: null) {
  @if $h != null {
    max-height: $h;
  }
  @if $w != null {
    max-width: $w;
  }
}
@mixin dimensionMin($h: null, $w: null) {
  @if $h != null {
    min-height: $h;
  }
  @if $w != null {
    min-width: $w;
  }
}
@mixin directionPos($t: null, $r: null, $b: null, $l: null) {
  @if $t != null {
    top: $t;
  }
  @if $r != null {
    right: $r;
  }
  @if $b != null {
    bottom: $b;
  }
  @if $l != null {
    left: $l;
  }
}

// breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: max-width) {
  @if $mq2 == false {
    @media ($maxmin: $mq01) {
      @content;
    }
  } @else {
    @media (min-width: $mq01) and (max-width: $mq2) {
      @content;
    }
  }
} // breakpoint-h mixin
@mixin breakpoint-h($mq01: 0, $mq2: false, $maxmin: max-height) {
  @if $mq2 == false {
    @media ($maxmin: $mq01) {
      @content;
    }
  } @else {
    @media (min-height: $mq01) and (max-height: $mq2) {
      @content;
    }
  }
}

// responsive font size mixin
@mixin font-size-map($font-size-map) {
  @each $breakpoint, $font-size in $font-size-map {
    @if $breakpoint == null {
      font-size: $font-size;
    } @else {
      @include breakpoint($breakpoint) {
        font-size: $font-size;
      }
    }
  }
}
// responsive width mixin
@mixin width-p-map($width-p-map) {
  @each $breakpoint, $width-p in $width-p-map {
    @if $breakpoint == null {
      width: $width-p;
    } @else {
      @include breakpoint($breakpoint) {
        width: $width-p;
      }
    }
  }
}
// responsive min-width mixin
@mixin min-width-p-map($min-width-p-map) {
  @each $breakpoint, $min-width-p in $min-width-p-map {
    @if $breakpoint == null {
      min-width: $min-width-p;
    } @else {
      @include breakpoint($breakpoint) {
        min-width: $min-width-p;
      }
    }
  }
}
// responsive min-height mixin
@mixin min-height-p-map($min-height-p-map) {
  @each $breakpoint, $min-height-p in $min-height-p-map {
    @if $breakpoint == null {
      min-height: $min-height-p;
    } @else {
      @include breakpoint($breakpoint) {
        min-height: $min-height-p;
      }
    }
  }
}
// responsive height mixin
@mixin height-p-map($height-p-map) {
  @each $breakpoint, $height-p in $height-p-map {
    @if $breakpoint == null {
      height: $height-p;
    } @else {
      @include breakpoint($breakpoint) {
        height: $height-p;
      }
    }
  }
}
// responsive top mixin
@mixin top-p-map($top-p-map) {
  @each $breakpoint, $top-p in $top-p-map {
    @if $breakpoint == null {
      top: $top-p;
    } @else {
      @include breakpoint($breakpoint) {
        top: $top-p;
      }
    }
  }
}
// responsive right mixin
@mixin right-p-map($right-p-map) {
  @each $breakpoint, $right-p in $right-p-map {
    @if $breakpoint == null {
      right: $right-p;
    } @else {
      @include breakpoint($breakpoint) {
        right: $right-p;
      }
    }
  }
}
// responsive bottom mixin
@mixin bottom-p-map($bottom-p-map) {
  @each $breakpoint, $bottom-p in $bottom-p-map {
    @if $breakpoint == null {
      bottom: $bottom-p;
    } @else {
      @include breakpoint($breakpoint) {
        bottom: $bottom-p;
      }
    }
  }
}
// responsive left mixin
@mixin left-p-map($left-p-map) {
  @each $breakpoint, $left-p in $left-p-map {
    @if $breakpoint == null {
      left: $left-p;
    } @else {
      @include breakpoint($breakpoint) {
        left: $left-p;
      }
    }
  }
}
// responsive transform: translate() mixin
@mixin transform-translate-p-map($transform-translate-p-map) {
  @each $breakpoint, $transform-translate-p in $transform-translate-p-map {
    @if $breakpoint == null {
      transform: translate($transform-translate-p);
    } @else {
      @include breakpoint($breakpoint) {
        transform: translate($transform-translate-p);
      }
    }
  }
}
// responsive line-height mixin
@mixin line-height-p-map($line-height-p-map) {
  @each $breakpoint, $line-height-p in $line-height-p-map {
    @if $breakpoint == null {
      line-height: $line-height-p;
    } @else {
      @include breakpoint($breakpoint) {
        line-height: $line-height-p;
      }
    }
  }
}
// responsive padding mixin
@mixin padding-p-map($padding-p-map) {
  @each $breakpoint, $padding-p in $padding-p-map {
    @if $breakpoint == null {
      padding: $padding-p;
    } @else {
      @include breakpoint($breakpoint) {
        padding: $padding-p;
      }
    }
  }
}
// responsive font-size mixin
@mixin font-size-p-map($font-size-p-map) {
  @each $breakpoint, $font-size-p in $font-size-p-map {
    @if $breakpoint == null {
      font-size: $font-size-p;
    } @else {
      @include breakpoint($breakpoint) {
        font-size: $font-size-p;
      }
    }
  }
}
// responsive margin-top mixin for height
@mixin margin-top-p-map-h($margin-top-p-map) {
  @each $breakpoint, $margin-top-p in $margin-top-p-map {
    @if $breakpoint == null {
      margin-top: $margin-top-p;
    } @else {
      @include breakpoint-h($breakpoint) {
        margin-top: $margin-top-p;
      }
    }
  }
}
// responsive margin-top mixin
@mixin margin-top-p-map($margin-top-p-map) {
  @each $breakpoint, $margin-top-p in $margin-top-p-map {
    @if $breakpoint == null {
      margin-top: $margin-top-p;
    } @else {
      @include breakpoint($breakpoint) {
        margin-top: $margin-top-p;
      }
    }
  }
}
// responsive margin-right mixin
@mixin margin-right-p-map($margin-right-p-map) {
  @each $breakpoint, $margin-right-p in $margin-right-p-map {
    @if $breakpoint == null {
      margin-right: $margin-right-p;
    } @else {
      @include breakpoint($breakpoint) {
        margin-right: $margin-right-p;
      }
    }
  }
}
// responsive margin-bottom mixin
@mixin margin-bottom-p-map($margin-bottom-p-map) {
  @each $breakpoint, $margin-bottom-p in $margin-bottom-p-map {
    @if $breakpoint == null {
      margin-bottom: $margin-bottom-p;
    } @else {
      @include breakpoint($breakpoint) {
        margin-bottom: $margin-bottom-p;
      }
    }
  }
}
// responsive margin mixin
@mixin margin-p-map($margin-p-map) {
  @each $breakpoint, $margin-p in $margin-p-map {
    @if $breakpoint == null {
      margin: $margin-p;
    } @else {
      @include breakpoint($breakpoint) {
        margin: $margin-p;
      }
    }
  }
}
// responsive margin-left mixin
@mixin margin-left-p-map($margin-left-p-map) {
  @each $breakpoint, $margin-left-p in $margin-left-p-map {
    @if $breakpoint == null {
      margin-left: $margin-left-p;
    } @else {
      @include breakpoint($breakpoint) {
        margin-left: $margin-left-p;
      }
    }
  }
}
@mixin letter-spacing-p-map($letter-spacing-p-map) {
  @each $breakpoint, $letter-spacing-p in $letter-spacing-p-map {
    @if $breakpoint == null {
      letter-spacing: $letter-spacing-p;
    } @else {
      @include breakpoint($breakpoint) {
        letter-spacing: $letter-spacing-p;
      }
    }
  }
}
// responsive margin mixin for height
@mixin margin-p-map-h($margin-p-map) {
  @each $breakpoint, $margin-p in $margin-p-map {
    @if $breakpoint == null {
      margin: $margin-p;
    } @else {
      @include breakpoint-h($breakpoint) {
        margin: $margin-p;
      }
    }
  }
}
@mixin display-p-map($display-p-map) {
  @each $breakpoint, $display-p in $display-p-map {
    @if $breakpoint == null {
      display: $display-p;
    } @else {
      @include breakpoint($breakpoint) {
        display: $display-p;
      }
    }
  }
}
@mixin float-p-map($float-p-map) {
  @each $breakpoint, $float-p in $float-p-map {
    @if $breakpoint == null {
      float: $float-p;
    } @else {
      @include breakpoint($breakpoint) {
        float: $float-p;
      }
    }
  }
}
@mixin text-align-p-map($text-align-p-map) {
  @each $breakpoint, $text-align-p in $text-align-p-map {
    @if $breakpoint == null {
      text-align: $text-align-p;
    } @else {
      @include breakpoint($breakpoint) {
        text-align: $text-align-p;
      }
    }
  }
}
@mixin position-p-map($position-p-map) {
  @each $breakpoint, $position-p in $position-p-map {
    @if $breakpoint == null {
      position: $position-p;
    } @else {
      @include breakpoint($breakpoint) {
        position: $position-p;
      }
    }
  }
}
@mixin border-bottom-p-map($border-bottom-p-map) {
  @each $breakpoint, $border-bottom-p in $border-bottom-p-map {
    @if $breakpoint == null {
      border-bottom: $border-bottom-p;
    } @else {
      @include breakpoint($breakpoint) {
        border-bottom: $border-bottom-p;
      }
    }
  }
}
@mixin border-top-p-map($border-top-p-map) {
  @each $breakpoint, $border-top-p in $border-top-p-map {
    @if $breakpoint == null {
      border-top: $border-top-p;
    } @else {
      @include breakpoint($breakpoint) {
        border-top: $border-top-p;
      }
    }
  }
}
@mixin justify-content-p-map($justify-content-p-map) {
  @each $breakpoint, $justify-content-p in $justify-content-p-map {
    @if $breakpoint == null {
      justify-content: $justify-content-p;
    } @else {
      @include breakpoint($breakpoint) {
        justify-content: $justify-content-p;
      }
    }
  }
}

// 27-06
// background
@mixin background-p-map($background-p-map) {
  @each $breakpoint, $background-p in $background-p-map {
    @if $breakpoint == null {
      background: $background-p;
    } @else {
      @include breakpoint($breakpoint) {
        background: $background-p;
      }
    }
  }
}
// padding-top
@mixin padding-top-p-map($padding-top-p-map) {
  @each $breakpoint, $padding-top-p in $padding-top-p-map {
    @if $breakpoint == null {
      padding-top: $padding-top-p;
    } @else {
      @include breakpoint($breakpoint) {
        padding-top: $padding-top-p;
      }
    }
  }
}
// border-radius
@mixin border-radius-p-map($border-radius-p-map) {
  @each $breakpoint, $border-radius-p in $border-radius-p-map {
    @if $breakpoint == null {
      border-radius: $border-radius-p;
    } @else {
      @include breakpoint($breakpoint) {
        border-radius: $border-radius-p;
      }
    }
  }
}
// border-right
@mixin border-right-p-map($border-right-p-map) {
  @each $breakpoint, $border-right-p in $border-right-p-map {
    @if $breakpoint == null {
      border-right: $border-right-p;
    } @else {
      @include breakpoint($breakpoint) {
        border-right: $border-right-p;
      }
    }
  }
}
// border-left
@mixin border-left-p-map($border-left-p-map) {
  @each $breakpoint, $border-left-p in $border-left-p-map {
    @if $breakpoint == null {
      border-left: $border-left-p;
    } @else {
      @include breakpoint($breakpoint) {
        border-left: $border-left-p;
      }
    }
  }
}
// flex
@mixin flex-p-map($flex-p-map) {
  @each $breakpoint, $flex-p in $flex-p-map {
    @if $breakpoint == null {
      flex: $flex-p;
    } @else {
      @include breakpoint($breakpoint) {
        flex: $flex-p;
      }
    }
  }
}
// max-width
@mixin max-width-p-map($max-width-p-map) {
  @each $breakpoint, $max-width-p in $max-width-p-map {
    @if $breakpoint == null {
      max-width: $max-width-p;
    } @else {
      @include breakpoint($breakpoint) {
        max-width: $max-width-p;
      }
    }
  }
}
@mixin padding-left-p-map($padding-left-p-map) {
  @each $breakpoint, $padding-left-p in $padding-left-p-map {
    @if $breakpoint == null {
      padding-left: $padding-left-p;
    } @else {
      @include breakpoint($breakpoint) {
        padding-left: $padding-left-p;
      }
    }
  }
}
@mixin padding-right-p-map($padding-right-p-map) {
  @each $breakpoint, $padding-right-p in $padding-right-p-map {
    @if $breakpoint == null {
      padding-right: $padding-right-p;
    } @else {
      @include breakpoint($breakpoint) {
        padding-right: $padding-right-p;
      }
    }
  }
}
@mixin padding-bottom-p-map($padding-bottom-p-map) {
  @each $breakpoint, $padding-bottom-p in $padding-bottom-p-map {
    @if $breakpoint == null {
      padding-bottom: $padding-bottom-p;
    } @else {
      @include breakpoint($breakpoint) {
        padding-bottom: $padding-bottom-p;
      }
    }
  }
}
@mixin border-p-map($border-p-map) {
  @each $breakpoint, $border-p in $border-p-map {
    @if $breakpoint == null {
      border: $border-p;
    } @else {
      @include breakpoint($breakpoint) {
        border: $border-p;
      }
    }
  }
}
// color
@mixin color-p-map($color-p-map) {
  @each $breakpoint, $color-p in $color-p-map {
    @if $breakpoint == null {
      color: $color-p;
    } @else {
      @include breakpoint($breakpoint) {
        color: $color-p;
      }
    }
  }
}

// flex-wrap
@mixin flex-wrap-p-map($flex-wrap-p-map) {
  @each $breakpoint, $flex-wrap-p in $flex-wrap-p-map {
    @if $breakpoint == null {
      flex-wrap: $flex-wrap-p;
    } @else {
      @include breakpoint($breakpoint) {
        flex-wrap: $flex-wrap-p;
      }
    }
  }
}
// max-height
@mixin max-height-p-map($max-height-p-map) {
  @each $breakpoint, $max-height-p in $max-height-p-map {
    @if $breakpoint == null {
      max-height: $max-height-p;
    } @else {
      @include breakpoint($breakpoint) {
        max-height: $max-height-p;
      }
    }
  }
}
// overflow
@mixin overflow-p-map($overflow-p-map) {
  @each $breakpoint, $overflow-p in $overflow-p-map {
    @if $breakpoint == null {
      overflow: $overflow-p;
    } @else {
      @include breakpoint($breakpoint) {
        overflow: $overflow-p;
      }
    }
  }
}
// overflow-y
@mixin overflow-y-p-map($overflow-y-p-map) {
  @each $breakpoint, $overflow-y-p in $overflow-y-p-map {
    @if $breakpoint == null {
      overflow-y: $overflow-y-p;
    } @else {
      @include breakpoint($breakpoint) {
        overflow-y: $overflow-y-p;
      }
    }
  }
}
@mixin text-transform-p-map($text-transform-p-map) {
  @each $breakpoint, $text-transform-p in $text-transform-p-map {
    @if $breakpoint == null {
      text-transform: $text-transform-p;
    } @else {
      @include breakpoint($breakpoint) {
        text-transform: $text-transform-p;
      }
    }
  }
}
@mixin transform-p-map($transform-p-map) {
  @each $breakpoint, $transform-p in $transform-p-map {
    @if $breakpoint == null {
      transform: $transform-p;
    } @else {
      @include breakpoint($breakpoint) {
        transform: $transform-p;
      }
    }
  }
}

$about-cnt-padding: (
  null: 0 180px,
  1300px: 0 120px,
  1200px: 0 10px,
);

$about-side-img-right: (
  null: -196px,
  1300px: -136px,
  1200px: -25px,
);
$about-side-img-width: (
  null: 175px,
  1300px: 110px,
  767px: 120px,
);
$chat-ab-btn-right: (
  null: -80px,
  1200px: 10px,
);
$chat-ab-btn-width: (
  null: 62px,
  767px: 50px,
);
$con-table-width: (
  null: null,
  1200px: calc(100% - 90px),
  767px: calc(100% - 70px),
);
$chat-ab-btn-height: (
  null: 62px,
  767px: 50px,
);
$about-m-tlt-font-size: (
  null: null,
  1200px: 30px,
);
$about-m-tlt-line-height: (
  null: null,
  1200px: 36px,
);
$about-sym-left: (
  null: -75px,
  1200px: -49px,
);
$about-sym-top: (
  null: -17px,
  1200px: 10px,
);
$about-sym-svg-width: (
  null: null,
  1200px: 54px,
);
$about-sym-svg-height: (
  null: null,
  1200px: 55px,
);

$ab-lf-img-width: (
  null: null,
  1200px: calc(100% - 115px),
);

$x-md-title-font-size: (
  null: 60px,
  991px: 30px,
);
$x-md-title-line-height: (
  null: 72px,
  991px: 36px,
);
$md-title-font-size: (
  null: null,
  991px: 20px,
);
$md-title-line-height: (
  null: null,
  991px: 24px,
);
$prepend-input-display: (
  null: null,
  991px: none,
);
$md-w-100-width: (
  null: null,
  767px: 100% !important,
);
$cw-user-info-top: (
  null: null,
  767px: -41px,
);
$pro-cover-height: (
  null: 350px,
  991px: 280px,
  767px: 155px,
);
$tab-nav-link-width: (
  null: null,
  767px: 100%,
);
$review-star-box-position: (
  null: null,
  767px: absolute,
);
$review-star-box-top: (
  null: null,
  767px: -30px,
);
$review-star-box-right: (
  null: null,
  767px: 0,
);
$user-profile-cnt-margin: (
  null: 50px auto,
  767px: 0 auto 50px,
);
$tab-nav-link-padding: (
  null: 10px,
  767px: 10px 0,
);
$shop-user-info-pro-img-top: (
  null: -15px,
  767px: 0,
);
$md-border-0-border: (
  null: null,
  767px: none !important,
);
$form-1-padding-left: (
  null: 25px,
  767px: 0,
);
$form-1-margin-bottom: (
  null: 120px,
  767px: 0,
);
$form-1-form-group-margin-bottom: (
  null: 60px,
  767px: 30px,
);
$form-1-custom-input-padding: (
  null: 0 15px,
  767px: 0,
);
$form-1-after-display: (
  null: null,
  767px: none,
);
$ctm-select-main-padding: (
  null: 5px 15px,
  767px: 5px 0,
);
$select-arr-right: (
  null: 15px,
  767px: 0,
);
$back-ep-top: (
  null: -26px,
  767px: -7px,
);
$back-ep-left: (
  null: -60px,
  767px: 0,
);
$view-2-shop-pro-cnt-padding-left: (
  null: 20px,
  767px: 0,
);
$shop-v2-pro-img-top: (
  null: -34px,
  767px: -25px,
);
$shop-pro-img-xl-width: (
  null: null,
  767px: 69px,
);
$shop-pro-img-xl-height: (
  null: null,
  767px: 69px,
);
$shop-pro-txt-cnt-xl-width: (
  null: null,
  767px: calc(100% - 69px),
);
$v2-fol-txt-left: (
  null: null,
  767px: -18px,
);
$shop-cover-height: (
  null: 240px,
  767px: 160px,
);
$shop-cnt-border-bottom: (
  null: 1px solid #000,
  767px: none,
);
$header-section-padding: (
  null: 20px 35px,
  1250px: 20px,
  767px: 20px 18px,
);
$navbar-brand-margin-right: (
  null: 50px,
  1250px: 30px,
  991px: 20px,
  767px: 0,
);
$search-group-form-control-width: (
  null: 100px,
  1250px: 80px,
  767px: 100%,
);
$search-group-form-control-focus-width: (
  null: 145px,
  1250px: 120px,
  767px: 100%,
);
$navbar-nav-item-margin: (
  null: 0 18px,
  1250px: 0 10px,
  991px: 0 8px,
  850px: 0 5px,
  767px: 0 10px,
);
$navbar-nav-link-font-size: (
  null: 12px,
  1200px: 11px,
  800px: 10px,
  767px: 12px,
);
$sett-box-ctm-select-option-font-size: (
  null: 13px,
  1200px: 12px,
  991px: 11px,
  767px: 12px,
);
$navbar-nav-link-svg-width: (
  null: null,
  1250px: 17px,
  991px: 16px,
  767px: 20px,
);
$navbar-nav-link-svg-height: (
  null: null,
  1250px: 17px,
  991px: 16px,
  767px: 20px,
);
$navbar-brand-d-img-width: (
  null: null,
  1250px: 120px,
  991px: 110px,
);
$product-post-height: (
  null: 800px,
  767px: auto,
);
$product-post-img-min-height: (
  null: 830px,
  767px: auto,
);
$product-post-margin-bottom: (
  null: 90px,
  767px: 50px,
);
$pro-bottom-part-position: (
  null: absolute,
  767px: static,
);
$post-info-padding-bottom: (
  null: 350px,
  767px: 0,
);
$product-info-padding-bottom: (
  null: 320px,
  767px: 0,
);
$product-post-section-padding: (
  null: 100px 18px 70px,
  767px: 40px 18px 70px,
);
$home-title-cnt-width: (
  null: max-content,
);

$home-title-xx-md-title-font-size: (
  null: null,
  767px: 33px,
);
$home-title-xx-md-title-line-height: (
  null: null,
  767px: 39px,
);
$form-info-width: (
  null: 450px,
  500px: 100%,
);
$back-link-left: (
  null: 40px,
  767px: 20px,
);
$back-link-top: (
  null: 30px,
  767px: 20px,
);
$lg-form-group-margin-bottom: (
  null: 15px,
  767px: 10px,
);
$line-txt-c-margin: (
  null: 20px 0,
  767px: 10px 0,
);
$eco-tlt-padding: (
  null: null,
  767px: 230px 0 40px,
);
$lg-text-font-size: (
  null: 20px,
  767px: 17px,
);
$lg-text-line-height: (
  null: 24px,
  767px: 20px,
);
$postModal-top: (
  null: 0,
  767px: 82px,
);
$postModal-margin: (
  null: null,
  767px: 0,
);
$post-col-max-width: (
  null: 20%,
  767px: 25%,
);
$post-col-flex: (
  null: 0 0 20%,
  767px: 0 0 25%,
);
$tag-part-two-height: (
  null: 288px,
  767px: calc(100vh - 270px),
);
$search-item-all-height: (
  null: 184px,
  767px: calc(100vh - 350px),
);
$tag-img-txt-top: (
  null: 30%,
  767px: 50%,
);
$tag-img-txt-padding: (
  null: 4px 10px,
  767px: 6px 10px,
);
$tag-img-txt-font-size: (
  null: 8px,
  767px: 14px,
);
$tag-img-txt-right: (
  null: 39px,
  767px: 60px,
);

$tag-img-txt-text-transform: (
  null: null,
  767px: uppercase,
);
$tag-img-txt-svg-width: (
  null: 8px,
  767px: 14px,
);
$tag-img-txt-svg-height: (
  null: 8px,
  767px: 14px,
);
// for common
$mm-w-100-max-width: (
  null: null,
  767px: 100%,
);
$m-h-100-height: (
  null: null,
  767px: 100%,
);
$bt-lsr-right: (
  null: null,
  767px: 24px,
);
$tab-cnt-border-bottom: (
  null: 1px solid #868686,
  767px: none,
);
$pro-c-img-btn-width: (
  null: null,
  767px: 100%,
);
$cart-row-margin: (
  null: null,
  767px: 0,
);
$cart-row-col-padding: (
  null: null,
  767px: 0,
);
$cart-total-price-border-top: (
  null: 1px solid #000,
  767px: none,
);
$checkout-row-margin-right: (
  null: null,
  767px: 0,
);
$checkout-col-form-after-display: (
  null: null,
  767px: none,
);
$seller-cnt-width: (
  null: calc(100% - 180px),
  767px: 100%,
);
$due-amnt-padding: (
  null: null,
  767px: 0,
);
$due-amnt-border: (
  null: null,
  767px: none,
);
$tbl-2-width: (
  null: 100%,
  767px: calc(100% - 95px),
);
$tbl-2-min-height: (
  null: 350px,
  767px: auto,
);
$order-tbl-2-min-height: (
  null: 300px,
  767px: auto,
);
$seller-box-cnt2-display: (
  null: block,
  767px: none,
);
$order-d-cnt-padding: (
  null: 20px 30px,
  767px: 20px,
);
$s-top-tlt-btn-padding: (
  null: 6px 45px,
  767px: 6px 25px,
);
$var-nav-item-flex: (
  null: null,
  767px: 1 1 auto,
);
$col-color-upload-max-width: (
  null: 20%,
  991px: 33.33%,
  767px: 50%,
);
$col-color-upload-flex: (
  null: 0 0 20%,
  991px: 0 0 33.33%,
  767px: 0 0 50%,
);
$col-color-upload-max-height: (
  null: 370px,
  767px: max-content,
);
$col-color-upload-overflow-y: (
  null: auto,
  767px: unset,
);
$add-atr-box-left: (
  null: 0,
  767px: unset,
);
$add-atr-box-right: (
  null: null,
  767px: 0,
);
$pro-tbl-2-width: (
  null: null,
  767px: calc(100% - 120px),
);

$imoji-mart-width: (
  null: 355px !important,
  400px: 300px !important,
);
$add-post-margin: (
  null: 50px auto 0,
  767px: 70px auto 0,
);
$list-box-width: (
  null: 662px,
  991px: 500px,
);
$shop-user-info-pro-img-width: (
  null: null,
  767px: 104px,
);
$shop-user-info-pro-img-height: (
  null: null,
  767px: 104px,
);
$ab-fixed-footer-display: (
  null: null,
  767px: block !important,
);
$ab-fixed-footer-position: (
  null: fixed,
  767px: static,
);
$fixed-footer-width: (
  null: 140px,
  767px: 170px,
);
$tc-cnt-margin: (
  null: 70px auto 120px,
  767px: 40px auto 70px,
);
$tc-txt-padding-left: (
  null: 30px,
  767px: 0,
);
$tc-txt-border-left: (
  null: 1px solid #000,
  767px: none,
);
$module-title-cnt-margin: (
  null: 30px auto 0,
  1440px: 30px 55px 0,
  1380px: 30px 24px 0,
);
$img-tp-move-right: (
  null: -55px,
  1380px: -24px,
);
$td-img-31-width: (
  null: 325px,
  991px: 280px,
);
$eco-tlt-col-1-left: (
  null: 115px,
  1280px: 85px,
  767px: 60px,
);
$eco-tlt-col-1-top: (
  null: -100px,
  1220px: -60px,
  767px: 40px,
);
$eco-tlt-col-1-width: (
  null: 160px,
  991px: 105px,
);
$eco-tlt-col-1-position: (
  null: relative,
  767px: absolute,
);
$eco-tlt-img-top-width: (
  null: 118px,
  991px: 75px,
);
$eco-tlt-img-top-left: (
  null: -83px,
  991px: -60px,
);
$eco-tlt-col-3-min-width: (
  null: 385px,
  1200px: 30%,
  991px: 200px,
  767px: 120px,
);
$eco-tlt-col-3-img-width: (
  null: 170px,
  991px: 120px,
);
$eco-tlt-col-3-top: (
  null: -35px,
  767px: 0,
);
$hover-ml-margin-left: (
  null: 80px,
  767px: 0,
);
$cat-list-col1-width: (
  null: 160px,
  767px: 100%,
);
$cat-list-col2-width: (
  null: calc(100% - 160px),
  767px: 100%,
);
$cat-list-col1-border-bottom: (
  null: null,
  767px: 1px solid #000,
);
$cat-list-col1-border-right: (
  null: 1px solid #000,
  767px: none,
);
$cat-cnt-padding: (
  null: 35px,
  767px: 15px,
);
$cat-margin-bottom: (
  null: 25px,
  767px: 15px,
);
$cat-font-size: (
  null: null,
  767px: 11px,
);
$inner-cat-padding: (
  null: 0 50px,
  767px: 0 0 0 15px,
);
$shop-pro-cnt-padding-left: (
  null: 46px,
  991px: 0,
);
$shop-pro-img-xxxl-width: (
  null: null,
  767px: 96px,
);
$shop-pro-img-xxxl-height: (
  null: null,
  767px: 96px,
);
$shop-pro-txt-cnt-xxxl-width: (
  null: 100%,
  991px: calc(100% - 168px),
  767px: calc(100% - 96px),
);
$message-list-cnt-width: (
  null: 420px,
  1100px: 320px,
  767px: 100%,
);
$message-width: (
  null: calc(100% - 420px),
  1100px: calc(100% - 320px),
  767px: 100%,
);
$message-display: (
  null: null,
  767px: none,
);
$message-width: (
  null: 25vw,
  1200px: 33vw,
  767px: 50vw,
  500px: 100vw,
);
$postDeModal-modal-body-padding: (
  null: 50px,
  991px: 50px 20px,
);
$product-post-img-padding-bottom: (
  null: null,
  767px: 140%,
);
$product-post-img-img-position: (
  null: null,
  767px: absolute,
);
$buyer-section-padding: (
  null: 130px 5%,
  767px: 80px 5%,
);
$be-message-padding: (
  null: 35px,
  767px: 20px,
);
$tbl-cnt-table-height: (
  null: null,
  767px: calc(100% - 1px),
);
$leave-review-cnt-padding: (
  null: 120px 5% 100px,
  767px: 40px 20px 70px,
);
$slide-indicator-bottom: (
  null: -30px,
  767px: 8px,
);
$slide-indicator-left: (
  null: 0,
  767px: 10px,
);
$tagModal-top: (
  null: null,
  767px: unset,
);
$tagModal-height: (
  null: null,
  767px: calc(100vh - 81px),
);
$sort-view-transform: (
  null: translate(0, -50%),
  767px: translate(-50%, 0),
);
$sort-view-right: (
  null: 18px,
  767px: unset,
);
$sort-view-left: (
  null: null,
  767px: calc(50% + 26px),
);
$sort-view-top: (
  null: 50%,
  767px: 100px,
);
$sort-view-width: (
  null: 10px,
  767px: 100px,
);
$handle-line-height: (
  null: 100px,
  767px: 10px,
);
$handle-line-after-width: (
  null: 1px,
  767px: 100%,
);
$handle-line-after-height: (
  null: 100%,
  767px: 1px,
);
$handle-line-after-top: (
  null: 0,
  767px: 50%,
);
$handle-line-after-left: (
  null: 50%,
  767px: 0,
);
$handle-line-after-transform: (
  null: translate(-50%, 0),
  767px: translate(0, -50%),
);
$filter-menu-left: (
  null: 20px,
  1100px: 15px,
);
$fixed-footer-item-last-child-before-display: (
  null: null,
  767px: none,
);
$fixed-footer-faq-li-before-display: (
  null: none,
  767px: inline-block,
);
$contact-form-custom-input-border-bottom: (
  null: null,
  767px: none,
);
$contact-form-custom-input-border-top: (
  null: null,
  767px: 1px solid #000,
);
$contact-form-custom-input-height: (
  null: null,
  767px: 35px,
);
$thank-text-font-size: (
  null: null,
  767px: 25px,
);
$product-content-margin: (
  null: 30px auto,
  767px: 18px auto,
);
$shop-cnt-padding-bottom: (
  null: 35px,
  767px: 0,
);
$header-search-group-width: (
  null: 130px,
  1250px: 110px,
);
$cart-sm-box-top: (
  null: 51px,
  1250px: 48px,
);
$cart-sm-box-left: (
  null: -9px,
  1200px: unset,
);
$cart-sm-box-right: (
  null: null,
  1200px: -12px,
);
$cart-sm-box-box-arr-left: (
  null: 15px,
  1200px: unset,
);
$cart-sm-box-box-arr-right: (
  null: null,
  1200px: 14px,
);
$header-ctm-select-box2-top: (
  null: 60px,
  1250px: 59px,
);
$srl-top-btn-width-height: (
  null: 45px,
  767px: 26px,
);
$srl-top-btn-left: (
  null: 20px,
  767px: 10px,
);
$srl-top-btn-svg-width: (
  null: null,
  767px: 10px,
);
$md-title-res25-font-size: (
  null: null,
  767px: 25px,
);
$md-title-res25-line-height: (
  null: null,
  767px: 30px,
);
$tab-nav-link-font-size: (
  null: null,
  500px: 11px,
  350px: 10px,
);
$upload-div1-width: (
  null: 210px,
  576px: 100%
); 
$upload-div2-width: (
  null: calc(100% - 210px),
  576px: 100%
); 
$sticky-srl-height: (
  null: calc(100vh - 105px),
  767px: auto
); 
$sticky-srl-overflow-y: (
  null: auto,
  767px: unset
);
$sticky-d-scroll-height: (
  null: calc(100vh - 82px),
  767px: auto
); 