.modal {
  z-index: 999999999999;
  background: rgba(0, 0, 0, 0.2);
  .modal-content {
    border: none;
    border-radius: 0;
  }
  .modal-header,
  .modal-footer {
    border-color: $black;
  }
  &.modal-1 {
    .modal-dialog {
      max-width: 610px;
    }
    .modal-body {
      padding: 38px 38px 30px 38px;
    }
  }
  .post-col {
    @include max-width-p-map($post-col-max-width);
    @include flex-p-map($post-col-flex);
  }
  .close-p-img {
    position: absolute;
    top: 5px;
    right: 7px;
    z-index: 9;
    svg {
      width: 12px;
    }
  }
  .mid-txt {
    position: absolute;
    left: 50%;
    top: 50%;
    width: max-content;
    transform: translate(-50%, -50%);
  }
  .round-div {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    svg {
      path {
        stroke: $white;
      }
    }
  }
  .up-span {
    position: relative;
    margin-right: 15px;
    cursor: pointer;
    display: inline-block;
    .tag-pro {
      background: $primary-gray;
      color: $white;
      font-family: $font-family;
      padding: 2px 15px;
      font-size: 8px;
      position: absolute;
      left: 21px;
      top: -9px;
      width: max-content;
      display: none;
    }
    &:hover {
      .tag-pro {
        display: inline-block;
      }
    }
  }
  &#tagModal {
    @include height-p-map($tagModal-height);
    @include top-p-map($tagModal-top);
    .tab-nav {
      .nav-link {
        width: auto;
      }
    }
    .tag-part-two {
      @include height-p-map($tag-part-two-height);
    }
    .modal-body {
      .tag-img-txt {
        position: absolute;
        color: #fff;
        background: rgba(0, 0, 0, 0.4);
        top: 4px;
        right: 19px;
        padding: 5px;
        svg {
          width: 14px;
          height: 14px;
          path {
            stroke: $white;
          }
        }
      }
    }
  }
  &#postModal {
    @include top-p-map($postModal-top);
    .modal-dialog {
      @include margin-p-map($postModal-margin);
      @include max-width-p-map($mm-w-100-max-width);
      @include height-p-map($m-h-100-height);
    }
    .modal-content {
      @include height-p-map($m-h-100-height);
    }
    .imo-phpto-cnt {
      height: calc(100% - 135px);
    }
  }
  &#deleteAcModal {
    .modal-dialog {
      max-width: 425px;
    }
  }
}
#cookieModal {
  .modal-dialog {
    max-width: 530px;
  }
}

#reviewModal {
  overflow: auto;
  .modal-dialog {
    max-width: 1150px;
    .modal-body {
      padding: 100px 10% 70px;
    }
  }
}
#postDeModal {
  overflow: auto;
  .modal-dialog {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    .modal-body {
      @include padding-p-map($postDeModal-modal-body-padding);
      .product-info,
      .post-info {
        padding-bottom: 110px;
      }
      .product-post {
        height: auto;
        max-width: 1025px;
        margin: auto;
        .post-img {
          @include padding-bottom-p-map($product-post-img-padding-bottom);
          img {
            @include position-p-map($product-post-img-img-position);
          }
        }
      }
      .comment-box {
        max-height: 390px;
      }
    }
  }
}
#orderCalendar {
  overflow: auto;
  .modal-dialog {
    max-width: 810px;
    .modal-body {
      padding: 15px 30px;
    }
  }
}
.close-m {
  position: absolute;
  left: 25px;
  top: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  svg {
    margin-left: 5px;
    width: 10px;
    height: 10px;
  }
}
.imo-select-box {
  .imo-b {
    position: relative;
    &::after,
    &::before {
      content: "";
      position: absolute;
      border-left: solid 13px transparent;
      border-right: solid 13px transparent;
      top: -15px;
      right: -2px;
    }
    &::before {
      border-top: solid 13px #fff;
      z-index: 99;
    }

    &::after {
      border-top: solid 13px#eeeeee;
      z-index: 1;
      top: -14px;
    }
  }
  .emoji-mart-search-icon {
    top: 50%;
    right: 15px;
    display: flex;
    padding: 0;
    transform: translate(0, -50%);
  }
  .emoji-mart-search input {
    font-size: 14px;
    padding: 10px 25px 10px 10px;
  }
  .emoji-mart {
    position: absolute;
    right: -24px;
    @include width-p-map($imoji-mart-width);
    bottom: 40px;
    .emoji-mart-scroll {
      height: 180px;
    }
    .emoji-mart-preview {
      overflow: hidden;
      height: 50px;
      .emoji-mart-emoji {
        span {
          width: 25px !important;
          height: 25px !important;
        }
      }
    }
    .emoji-mart-title-label {
      display: none;
    }
  }
  .emoji-mart-preview-data {
    display: none;
  }
  .emoji-mart-category-label {
    font-family: "HK Grotesk";
    font-size: 14px;
  }
}
.video-modal {
  .modal-dialog {
    max-width: 680px;
    .modal-body {
      div {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
}
.search-item-all {
  @include height-p-map($search-item-all-height);
  overflow-y: auto;
  .selected-item {
    color: $orange;
  }
}
