.shop-content {
  min-height: calc(100vh - 212px);
  .sx-md-title {
    font-size: 60px;
    line-height: 72px;
  }
}

.pro-bottom-part {
  @include position-p-map($pro-bottom-part-position);
  left: 0;
  bottom: 0;
  width: 100%;
  .match-style {
    display: flex;
    span {
      display: inline-flex;
      &:hover {
        color: $orange;
        svg {
          path,
          line {
            stroke: $orange;
          }
        }
      }
    }
  }
  .match-txt {
    text-decoration: underline;
  }
}
.comment-box {
  max-height: 325px;
  padding-right: 15px;
  overflow-y: auto;
  border-left: 1px solid $black;
}

.product-post {
  height: auto;
}

.product-info {
  .info-div {
    max-width: 275px;
  }
}
.product-img,
.post-img {
  position: relative;
  @include min-height-p-map($product-post-img-min-height);
  @include padding-bottom-p-map($product-post-img-padding-bottom);
  img {
    @include position-p-map($product-post-img-img-position);
  }
}
.product-img {
  margin-right: 15px;
}
.product-info,
.post-info {
  position: relative;
  height: 100%;
}

.post-info {
  @include padding-bottom-p-map($post-info-padding-bottom);
}
.product-info {
  @include padding-bottom-p-map($product-info-padding-bottom);
}
.product {
  .discount {
    padding: 5px 16px;
    font-size: 14px;
  }
}
.sticky-d-scroll {
  @include height-p-map($sticky-d-scroll-height);
  @include overflow-y-p-map($sticky-srl-overflow-y);
  .product-info {
    .info-div {
      position: sticky;
      top: 10px;
    }
  }
}

.sticky-srl, .sticky-d-scroll {
  &::-webkit-scrollbar {
    display: none;
  }
}
.pvf-cnt {
  max-width: 680px;
  margin: 0 auto;
}
.sel-img {
  height: 150px;
}
.sel-svg {
  svg {
    width: 16px;
    height: 16px;
  }
}
.txt-cnt-ul {
  .txt-cnt-li {
    width: max-content;
    cursor: pointer;
  }
  .txt-cnt-s {
    display: none;
  }
  &.active {
    .txt-cnt-li {
      svg {
        transform: rotate(180deg);
      }
    }
    .txt-cnt-s {
      display: block;
    }
  }
}
.img-td {
  width: 80px;
}
.close-cart {
  position: absolute;
  right: 0;
}
.cart-p-code {
  position: absolute;
  bottom: 10px;
  left: 0;
}
.black-border {
  td,
  th {
    border-color: $black;
  }
}
.cart-row {
  @include margin-p-map($cart-row-margin);
  .col-12 {
    @include padding-p-map($cart-row-col-padding);
  }
  .m-total {
    font-size: 20px;
  }
  .cart-total-price {
    .form-group {
      margin-bottom: 0;
      .x-sm-text-fw6 {
        display: none;
      }
    }
  }
}
.cart-table {
  tr {
    td,
    th {
      border-top: none;
      border-bottom: 1px solid $black;
    }
    &:last-child {
      td,
      th {
        border-bottom: none;
        padding-bottom: 0;
      }
    }
  }
}
.cart-btn {
  position: absolute;
  right: 0;
  bottom: 6px;
}
.overview-box {
  border: 1px solid $black;
  .overview-cnt {
    padding: 20px 20px 0;
  }
}
.cart-total-price {
  @include border-top-p-map($cart-total-price-border-top);
}
.cart-in-div {
  width: max-content;
}
.box-disable {
  .cart-sm-box {
    border-bottom: 1px solid $silver;
  }
  .overview-box {
    border: 1px solid $silver;
    .btn {
      cursor: not-allowed;
      background: $silver-f;
      border-color: $silver-f;
    }
  }
}
.checkout-row {
  @include margin-right-p-map($checkout-row-margin-right);
}
.checkout-col {
  .form {
    &::after {
      background: $black;
      @include display-p-map($checkout-col-form-after-display);
    }
  }
  .ctm-container {
    font-size: 14px;
    font-weight: 400;
    &.radio-ctm {
      padding-left: 40px;
    }
  }
}

.checkout-col-1 {
  .cart-sm-box {
    border-bottom: 1px solid $black;
  }
}
.payment-group {
  &.active {
    .color-gray7 {
      color: $black;
    }
  }
}
.complete-message {
  max-width: 400px;
  margin: 0 auto;
  .thank-text {
    @include font-size-p-map($thank-text-font-size);
  }
}
.review-star {
  &.active {
    svg {
      path {
        stroke: $orange;
        fill: $orange;
      }
    }
  }
}
.edit-btn {
  position: relative;
  .tolpit-c {
    display: none;
    position: absolute;
    width: max-content;
    top: -20px;
    font-size: 8px;
    left: 18px;
    padding: 4px 10px;
    background: #7d7d7d;
    color: #fff;
  }
  .edit-box {
    background: $white;
    position: absolute;
    display: none;
    width: max-content;
    padding: 15px 20px;
    top: 11px;
    z-index: 9;
    border: 1px solid $black;
  }
  &:hover {
    .tolpit-c {
      display: block;
    }
  }
  &.active {
    .edit-box {
      display: block;
    }
    .tolpit-c {
      display: none;
    }
  }
}

.all-date {
  padding-left: 15px;
  font-size: 9px;
  position: relative;
  color: $gray7;
  &.all-from-date {
    &::after {
      background: $silver;
    }
  }
  &.all-to-date {
    &::after {
      background: $orange;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 8px;
    height: 9px;
    transform: translate(0, -50%);
  }
}
.c-sup {
  top: -10px;
}
.about-cnt {
  @include padding-p-map($about-cnt-padding);
  .about-m-tlt {
    @include font-size-p-map($about-m-tlt-font-size);
    @include line-height-p-map($about-m-tlt-line-height);
  }
}

.about-sym {
  position: absolute;
  @include top-p-map($about-sym-top);
  @include left-p-map($about-sym-left);
  svg {
    @include width-p-map($about-sym-svg-width);
    @include height-p-map($about-sym-svg-height);
  }
}
.about-side-img {
  position: absolute;
  top: 0;
  @include width-p-map($about-side-img-width);
  @include right-p-map($about-side-img-right);
}
.ab-lf-img {
  @include width-p-map($ab-lf-img-width);
}
.chat-ab-btn {
  position: absolute;
  @include width-p-map($chat-ab-btn-width);
  @include height-p-map($chat-ab-btn-height);
  border-radius: 50%;
  top: 50%;
  @include right-p-map($chat-ab-btn-right);
  transform: translate(0, -50%);
}
.con-table {
  @include width-p-map($con-table-width);
}
.m-seling-img {
  width: 170px;
  height: 95px;
  position: absolute;
  right: 30px;
}

.list-ul {
  // max-height: calc(100vh - 200px);
  // overflow-y: auto;
}

.list-in-ul {
  display: none;
  position: absolute;
  top: 0;
  min-width: 150px;
  left: 148px;
  border: 1px solid #000;
  background: #fff;
}
.cat-li {
  .cart-sm-box {
    z-index: 99;

    &.list-box {
      @include width-p-map($list-box-width);
      .cat-list {
        padding: 30px;
        .cat-cnt {
          &.inner-cat {
            padding: 0 20px 0 50px;
          }
        }
      }
    }
  }
}
.list-li {
  position: relative;
  color: #000;
  padding: 5px 10px;
  font-size: 14px;
  text-transform: capitalize;
  border-bottom: 1px solid $black;
  cursor: pointer;
  img {
    width: 14px;
    height: 14px;
    margin-right: 5px;
    border-radius: 50%;
  }
  &:last-child {
    border-bottom: none;
  }
  &.m-cat {
    &:after {
      display: none;
      position: absolute;
      right: -1px;
      top: 50%;
      transform: translate(0, -50%);
      content: "";
      width: 0;
      height: 0;
      border-top: solid 10px transparent;
      border-bottom: solid 10px transparent;
      border-right: solid 10px #fff;
    }
    &:hover {
      .list-in-ul {
        display: block;
      }
    }
  }
  &:hover {
    background: $black;
    color: $white;
    svg {
      path,
      line {
        stroke: $white;
      }
    }
    &.m-cat {
      &:after {
        display: block;
      }
    }
  }
}
.shop-list-box {
  .list-li {
    display: flex;
    align-items: center;
  }
}
.upload-input {
  display: none;
}
.upload-overlay {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.45);
  top: 0;
  left: 0;
  color: #fff;
  svg {
    width: 30px;
    height: 30px;
    path,
    line {
      stroke: $white;
    }
  }
}
.upload-ov-show {
  &:hover {
    .upload-input {
      display: flex;
    }
  }
}
.cover-upload {
  width: 100px;
  position: absolute;
  overflow: hidden;
  right: 0;
  top: 10px;
  height: 30px;
}
.review-star-box {
  @include position-p-map($review-star-box-position);
  @include top-p-map($review-star-box-top);
  @include right-p-map($review-star-box-right);
}
.leave-review-cnt {
  @include padding-p-map($leave-review-cnt-padding);
  min-height: calc(100vh - 132px);
}
.tbl-cnt {
  position: relative;
  display: flex;
  .table {
    @include height-p-map($tbl-cnt-table-height);
    margin-bottom: 0;
  }
  .tbl-1 {
    width: 95px;
    height: 100%;
    // border-right: 1px solid;
    z-index: 999;
    background: #fff;
    padding-bottom: 4px;
    .table {
      height: 100%;
    }
  }
  .tbl-2 {
    @include width-p-map($tbl-2-width);
    overflow-x: auto;
    padding-right: 1px;
  }
}
.seller-table {
  .table {
    thead {
      tr {
        th {
          border-bottom: none;
          padding: 12px 7px;
          vertical-align: middle;
        }
      }
    }
    tr {
      td,
      th {
        text-align: center;
        border: none;
        padding: 7px;
        .td-v {
          margin: 0 15px;
          user-select: none;
        }
        .cn-v {
          user-select: none;
          cursor: pointer;
          &:hover {
            color: $orange;
          }
        }
        .ctm-container {
          min-height: 15px;
        }
        &.photo-td {
          width: 50px;
        }
        &.name-td {
          min-width: 300px;
        }
        &.line-td {
          border-right: 1px solid $black;
        }
      }
      .td-border {
        position: relative;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
      }
      .l-td {
        border-right: 1px solid transparent;
      }
      .f-td {
        border-left: 1px solid transparent;
      }
      &.active {
        .td-border {
          border-bottom: 1px solid $silver-f;
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            height: 1px;
            background: $silver-f;
            top: 0;
          }
        }
        .l-td {
          border-right: 1px solid $silver-f;
        }
        .f-td {
          border-left: 1px solid $silver-f;
        }
      }
    }
  }
  &.create-p-list {
    .table {
      tr {
        .td-border {
          &:after {
            display: none;
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            left: 0;
            background: $silver;
            top: 0;
          }
        }
        &:hover {
          .td-border {
            position: relative;
            border-top: 1px solid $silver;
            border-bottom: 1px solid $silver;
            &:after {
              display: block;
            }
          }
          .l-td {
            border-right: 1px solid $silver;
          }
          .f-td {
            border-left: 1px solid $silver;
          }
        }
        &:first-child {
          .td-border {
            &:after {
              display: none;
            }
          }
        }
      }
    }
  }
}

.order-d-cnt {
  border: 1px solid $silver;
  @include padding-p-map($order-d-cnt-padding);
  .table {
    td {
      padding: 15px 5px;
    }
  }
}
.order-d-top {
  border-bottom: 1px solid $silver;
}
.table-bordered {
  th,
  td {
    padding: 0 12px;
    border: 1px solid $black;
  }
  &.silver-border {
    th,
    td {
      border-color: $silver;
    }
  }
}
.no-border-select {
  .ctm-select {
    padding: 0;
    border: 0;
    width: max-content;
    padding-right: 5px;
    .select-arr {
      right: 0;
    }
  }
}
.st-table {
  border-top: 1px solid $silver;
  padding-top: 15px;
}
.sale-td {
  .row {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.all-pq {
  width: 125px;
  display: inline-block;
  input {
    width: 100%;
    font-size: 14px;
    text-align: center;
    border: none;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $black;
    }
  }
  .ctm-container {
    font-weight: 400;
  }
}

.back-ep {
  position: absolute;
  @include top-p-map($back-ep-top);
  @include left-p-map($back-ep-left);
  cursor: pointer;
  svg {
    width: 23px;
    height: 16px;
  }
  &:hover {
    svg {
      line {
        stroke: #ff6a00;
      }
      path {
        stroke: #ff6a00;
      }
    }
  }
}
// product listing
.cat-list {
  border: 1px solid #000;
}
.cat-cnt {
  @include padding-p-map($cat-cnt-padding);
  &.sub-cat {
    padding: 35px 40px;
  }
  &.inner-cat {
    @include padding-p-map($inner-cat-padding);
  }
}
.cat {
  position: relative;
  @include margin-bottom-p-map($cat-margin-bottom);
  @include font-size-p-map($cat-font-size);
  svg {
    display: none;
  }
  &.bs-li {
    svg {
      position: absolute;
      left: -15px;
      top: 5px;
      transform: rotate(180deg);
    }
  }
  &:hover {
    color: #000;
    svg {
      display: inline-block;
    }
  }
  &.active {
    color: #000;
    svg {
      display: inline-block;
    }
  }
}
.cat-list-col {
  border-right: 1px solid #000;
  .cat {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.cat-next-btn {
  position: absolute;
  right: 20px;
  bottom: 10px;
}
