.lg-title,
.md-title,
.x-md-title,
.xx-md-title {
  font-family: $font-family;
  font-weight: 600;
}
.lg-title {
  font-size: 80px;
  line-height: 104px;
}
.xx-md-title {
  font-size: 70px;
  line-height: 84px;
}
.x-md-title {
  @include font-size-p-map($x-md-title-font-size);
  @include line-height-p-map($x-md-title-line-height);
}
.md-title {
  font-size: 30px;
  line-height: 36px;
  &.md-title-res {
  @include font-size-p-map($md-title-font-size);
  @include line-height-p-map($md-title-line-height);
  }
  &.md-title-res25 {
  @include font-size-p-map($md-title-res25-font-size);
  @include line-height-p-map($md-title-res25-line-height);
  }
}

.dot-r {
  width: 6px;
  height: 8px;
  background: $orange;
  display: inline-block;
  margin-left: 10px;
}

.font-weight-6 {
  font-weight: 600 !important;
}
.font-weight-5 {
  font-weight: 500 !important;
}

.lg-text {
  font-family: $font-family;
  @include font-size-p-map($lg-text-font-size);
  @include line-height-p-map($lg-text-line-height);
  font-weight: 400;
}
.sm-text-fw4,
.sm-text-fw5,
.sm-text-fw6,
.sm-text-fw4-g,
.sm-text-fw5-g,
.sm-text-fw6-g,
.sm-text-fw5-s2,
.sm-text-fw6-sf,
.sm-text-fw6-o,
.sm-text-fw6-w {
  font-family: $font-family;
  font-size: 12px;
}

.x-sm-text-fw6,
.x-sm-text-fw6-g,
.x-sm-text-fw4,
.x-sm-text-fw4-g {
  font-family: $font-family;
  font-size: 13px;
}
.md-text-fw6 {
  font-family: $font-family;
  font-size: 14px;
}
.x-md-text-fw6 {
  font-family: $font-family;
  font-size: 18px;
}
.lg-text-fw5 {
  font-family: $font-family;
  font-size: 17px;
}
.sm-text-fw5-s2 {
  color: $silver-2;
}
.sm-text-fw6-sf {
  color: $silver-f;
}
.sm-text-fw6-o {
  color: $orange;
}

.sm-text-fw4-g,
.sm-text-fw6-g,
.sm-text-fw5-g,
.x-sm-text-fw6-g,
.x-sm-text-fw4-g {
  color: $primary-gray;
}

.sm-text-fw4,
.sm-text-fw4-g,
.x-sm-text-fw4,
.x-sm-text-fw4-g {
  font-weight: 400;
}
.sm-text-fw5,
.sm-text-fw5-g,
.sm-text-fw5-s2,
.lg-text-fw5 {
  font-weight: 500;
}
.sm-text-fw6,
.sm-text-fw6-g,
.md-text-fw6,
.x-sm-text-fw6,
.x-sm-text-fw6-g,
.sm-text-fw6-sf,
.sm-text-fw6-o,
.sm-text-fw6-w,
.x-md-text-fw6 {
  font-weight: 600;
}
.sm-text-fw6-w {
  color: $white;
}
