$font-family: "HK Grotesk";
$font-family-roboto: "Roboto", sans-serif;
// color
$gray99: #fafafa;
$red: #ef2b10;
$white: #fff;
$black: #000;
$primary-gray: #868686;
$gray7: #868686;
$gray: #c7c7c7;
$orange: #ff6a00;
$silver: #e8e8e8;
$silver-1: #efefef;
$silver-2: #bbbbbb;
$silver-f: #aeaeae;
$fb: #3b5998;
$blue: #67b0f3;
$yellow: #fccf32;
$green: #29D425;


