
.mobile-pro-filter {
    left: 15px;
  
    .mobile-filter-box {
      left: -15px;
    }
  }
  
  .mobile-pro-sort {
    right: 15px;
    .mobile-filter-box {
      right: -15px;
    }
  }
  .mobile-sort-filter {
    position: fixed;
    top: 95px;
    z-index: 999;
  }
  .mobile-filter-box {
    position: absolute;
    border: 1px solid #000;
    background: #fff;
    padding: 15px;
    width: 265px;
    top: -15px;
    .filter-ul {
      padding: 30px 30px 0;
    }
  }