@import "./variables.scss";
@import "./mixins.scss";
.form-module-cnt {
  height: 100vh;
  overflow: hidden;
}
.form-module-cnt-1,
.save-btn-cnt {
  max-width: 850px;
}
.form-info-cnt {
  padding: 55px 0 30px;
}

.input-hide-icon {
  .prepend-input {
    display: none;
  }
}
.form-control {
  &:focus {
    outline: none;
    box-shadow: none;
  }
  &.custom-input {
    border: none;
    border-bottom: 1px solid $black;
    border-radius: 0;
    font-weight: 400;
    padding: 0;
    height: 30px;
    font-size: 12px;
    color: $primary-gray;
    caret-color: $primary-gray;
    &:placeholder {
      color: $primary-gray;
    }
  }
}
textarea.form-control {
  &.custom-input {
    resize: none;
    height: 75px;
  }
}
select.form-control {
  &.custom-input {
    color: $black;
  }
}

.ctm-hidden-upload-input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: 9;
}
.search-group {
  .input-group-text {
    background: transparent;
    border: 0;
    padding: 0;
    margin-right: 10px;
  }
  .form-control {
    height: 22px;
  }
}
/* checkbox */
.ctm-container {
  display: inline-block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  -webkit-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark:after {
      display: block;
      border-color: $white;
    }
    &:checked ~ .checkmark {
      background-color: $black;
      border: 1px solid $black;
    }
  }

  .checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 1px solid $black;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 1px;
      width: 4px;
      height: 9px;
      border: solid #000;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &.checkmark-midle {
      top: 50%;
      transform: translate(0, -50%);
    }
  }

  &.radio-ctm {
    padding-left: 25px;

    .checkmark {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      &:after {
        width: 9px;
        height: 9px;
        top: 50%;
        background: $black;
        border: none;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    input {
      &:checked ~ .checkmark:after {
        display: block;
      }
      &:checked ~ .checkmark {
        background-color: $white;
        border: 1px solid $black;
      }
    }
  }
  &.check-right {
    padding-left: 0;
    padding-right: 22px;
    .checkmark {
      left: unset;
      right: 0;
    }
  }
}
.form-info {
  //   max-width: 520px;

  @include width-p-map($form-info-width);
  padding-left: 20px;
  margin: 0 20px;

  .form-group {
    @include margin-bottom-p-map($lg-form-group-margin-bottom);
  }
  .lg-title {
    font-size: 40px;
    line-height: 52px;
  }
}

.back-link {
  position: absolute;
  @include left-p-map($back-link-left);
  @include top-p-map($back-link-top);
  font-size: 13px;
  font-weight: 600;
  a {
    display: inline-flex;
    align-items: center;
    color: $black;
    img {
      margin-right: 5px;
    }
  }
}

.form-img-cnt {
  position: relative;
  .form-img-1,
  .form-img-2 {
    position: absolute;
    width: 175px;
    height: 235px;
  }
  .form-img-1 {
    top: 90px;
    left: -36px;
  }
  .form-img-2 {
    bottom: 45px;
    right: 35px;
  }
}
.form-group {
  sup {
    color: $orange;
  }
}
.form-input {
  &.form-input-append {
    .custom-input {
      padding-right: 100px;
    }
    .append-input {
      display: block;
    }
  }
}
.form {
  position: relative;
  margin-top: 25px;

  .form-group {
    @include margin-bottom-p-map($lg-form-group-margin-bottom);
    .text-danger {
      position: absolute;
      font-size: 10px;
    }
  }
  &::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    left: -20px;
    top: 0;
    background: $orange;
  }

  &.form-1 {
    @include padding-left-p-map($form-1-padding-left);
    @include margin-bottom-p-map($form-1-margin-bottom);
    .form-group {
      @include margin-bottom-p-map($form-1-form-group-margin-bottom);
    }
    .custom-input {
      @include padding-p-map($form-1-custom-input-padding);
    }
    &::after {
      @include display-p-map($form-1-after-display);
      left: 0;
      background: $black;
    }
  }
}
.append-input,
.prepend-input {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 9;
  display: inline-flex;
}
.append-input {
  display: none;
  right: 10px;
  cursor: pointer;
}
.prepend-input {
  @include display-p-map($prepend-input-display);
  left: -25px;
}
.err-txt {
  display: none;
  position: absolute;
}
.error-input {
  .custom-input {
    border-color: $orange;
    &::placeholder {
      color: $orange;
    }
  }
  .err-txt {
    display: block;
  }
}
.single-group {
  .col-12 {
    max-width: 100%;
    flex: 0 0 100%;
  }
  .col-md-5 {
    margin-bottom: 10px;
  }
  .form-group {
    margin-bottom: 30px;
  }
  .prepend-input {
    left: -25px;
    display: none;
  }
  &.hide-label {
    .x-sm-text-fw6 {
      display: none;
    }
  }
}
.label-mb {
  .x-sm-text-fw6 {
    padding-bottom: 15px;
  }
  .err-txt {
    display: none;
  }
  .form-group {
    margin-bottom: 0;
  }
}
.line-txt-c {
  @include margin-p-map($line-txt-c-margin);
  margin: 20px 0;
  .line-l {
    width: 100%;
    height: 1px;
    background: $silver;
  }
  .line-txt {
    padding: 0 25px;
  }
}
.ct-mp {
  text-align: center;
  width: 50px;
  border: none;
  &:focus {
    outline: none;
  }
}
.ctm-select {
  border-bottom: 1px solid #000;
  padding: 12px 15px;
  // min-height: 30px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  .select-img {
    svg {
      width: 18px;
      height: 18px;
    }
  }
  .ctm-select-txt {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    margin-right: 40px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  .select-arr {
    position: absolute;
    display: inline-flex;
    @include right-p-map($select-arr-right);
  }
  &.ctm-select-main {
    @include padding-p-map($ctm-select-main-padding);
    .ctm-select-box {
      top: 30px;
      .ctm-select-option {
        padding: 7px 15px;
      }
    }
  }
}
.ctm-select2 {
  &:hover {
    .ctm-select-box {
      display: block;
    }
  }
}
.ctm-select-box {
  position: absolute;
  display: none;
  width: 100%;
  min-width: max-content;
  left: 0;
  top: 52px;
  border: none;
  background: #fff;
  z-index: 999;
  margin-bottom: 20px;
  .box-cnt {
    max-height: 320px;
    overflow-y: auto;
  }

  .ctm-select-option {
    color: #000;
    font-size: 12px;
    padding: 12px 30px;
    border: 1px solid #e2e2e2;
    border-bottom-color: transparent;
    cursor: pointer;
    .ctm-container {
      padding: 8px 8px 8px 35px;
      font-size: 14px;
      font-weight: 400;
      .checkmark {
        top: 50%;
        transform: translate(0, -50%);
        left: 11px;
        background: transparent;
        border: none;
        &:after {
          border-color: #000;
          left: 5px;
          top: 0;
          width: 6px;
          height: 14px;
        }
      }
    }
    &:last-child {
      border-bottom-color: #e2e2e2;
    }
  }
  &.multi-select-b {
    .ctm-select-option {
      &:hover {
        color: #000;
        border-color: #000;
        &:last-child {
          border-bottom-color: #000;
        }
      }
    }
  }
  &.black-select-box {
    .ctm-select-option {
      color: #000;
      padding: 12px 20px;
      border: 1px solid #000;
      border-bottom-color: transparent;
      &:last-child {
        border-bottom-color: #000;
      }
    }
  }
  &.ctm-select-box2 {
    top: 39px;
    width: max-content;
    min-width: 100%;
    .ctm-select-option {
      padding: 7px 15px;
      text-align: center;
      &:hover {
        border-color: #e2e2e2;
        border-bottom-color: transparent;
      }
      &:last-child {
        border-bottom: 1px solid #e2e2e2;
      }
    }
    &:before {
      border-bottom: solid 10px #e2e2e2;
      top: -10px;
    }
    &:after {
      border-bottom: solid 10px #fff;
      top: -9px;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      width: 0;
      height: 0;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
    }
  }
}
.contact-form {
  .form-control {
    &.custom-input {
      @include border-bottom-p-map($contact-form-custom-input-border-bottom);
      @include border-top-p-map($contact-form-custom-input-border-top);
      @include height-p-map($contact-form-custom-input-height);
    }
  }
}
#show-user-st {
  .ctm-select-box {
    .ctm-select-option {
      text-align: left;
      &:hover {
        background: #e2e2e2;
      }
    }
  }
  &.active {
    .ctm-select-box {
      display: block;
    }
  }
}
.header-section {
  .ctm-select-box2 {
    @include top-p-map($header-ctm-select-box2-top);
    border: 1px solid $black;
    .ctm-select-option {
      border: none;
      border-bottom: 1px solid $black;
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background: $black;
        color: $white;
      }
    }
    &:before {
      border-bottom-color: $black;
      top: -10px;
    }
  }
}
.sc-input {
  .ctm-select {
    padding: 12px 0;
    .ctm-select-txt {
      padding-right: 25px;
      border-right: 1px solid #000;
    }
  }
  &.apply-sc {
    .ctm-select {
      padding: 0;
    }
  }
}

.photo-control {
  position: absolute;
  width: 100%;
  height: 100%;
  color: $black;
  top: 0;
  left: 0;
  .screen-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
  }
  .photo-delete {
    position: absolute;
    left: 10px;
    bottom: 10px;
    cursor: pointer;
  }
  .photo-delete i {
    margin-right: 7px;
  }
  .photo-txt {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}
.upload-img {
  border: 1px solid $silver-1;
}
.upload-photo-cnt {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.upload-photo {
  width: calc(100% - 24px);
  height: calc(100% - 24px);
  border: 1px dashed $primary-gray;
}
.upload-photo-txt {
  padding: 0 6px;
}
.upload-txt {
  position: absolute;
  bottom: 22px;
  width: 100%;
  left: 0;
  text-align: center;
}
.no-border-select {
  .ctm-select {
    padding: 0;
    border: 0;
    width: max-content;
    padding-right: 20px;
  }
}
.td-input {
  width: 55px;
  text-align: center;
  border: none;
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.box-cnt2 {
  display: none;
  position: absolute;
  width: 300px;
  border: 1px solid $black;
  text-align: left;
  background: $white;
  z-index: 99;
}
.box-ul {
  padding: 15px;
  .box-li {
    position: relative;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.box-show {
  &.active {
    .box-cnt2 {
      display: block;
    }
  }
}
textarea {
  &.textarea-msg {
    border: 1px solid $silver;
    resize: none;
    padding: 15px;
    font-size: 13px;
    height: 120px;
  }
}
.input-star {
  cursor: pointer;
  &:hover,
  &.active {
    svg {
      path {
        stroke: $orange;
        fill: $orange;
      }
    }
  }
}

.upload-box {
  align-items: center;
  border: 1px solid #e8e8e8;
  .upload-div1 {
    padding: 14px;
    @include width-p-map($upload-div1-width);
    text-align: center;
    background: #aeaeae;
    color: #fff;
  }
  .upload-div2 {
    padding: 14px;
    @include width-p-map($upload-div2-width);
    color: #9b9b9b;
  }
}
.sur-form {
  margin-bottom: 30px;
  .form-group {
    margin-bottom: 10px;
  }
}
.rating {
  .r-star {
    font-size: 25px;
    color: #c4c4c4;
    text-decoration: none;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
    margin-right: 3px;
    &:hover ~ span {
      color: $orange;
    }
    &:hover,
    &.active {
      color: $orange;
    }
  }
}
.rating2 {
  direction: rtl;
}
