@font-face {
  font-family: "HK Grotesk";
  src: url("./fonts/hk-grotesk.regular.otf") format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "./variables.scss";
@import "./mixins.scss";
@import "./button.scss";
@import "./text.scss";
@import "./modal.scss";
@import "./pages.scss";
@import "./filter.scss";
@import "./../pages/messenger/messenger.scss";
body {
  font-family: $font-family;
  color: $black;
  font-size: 14px;
  font-weight: 400;
}
.font-family-roboto {
  font-family: $font-family-roboto;
}
.d-flex-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.min-h-content {
  min-height: calc(100vh - 228px);
}

.max-body-content {
  max-width: 1440px;
  margin: 0 auto;
}
.md-w-100 {
  @include width-p-map($md-w-100-width);
}
.md-border-0 {
  @include border-p-map($md-border-0-border);
}
a {
  color: $black;
  &:hover {
    color: $orange;
  }
}
.color-black {
  color: $black;
}
.cursor-pointer {
  cursor: pointer;
}
.fixed-filter {
  position: fixed;
  top: 50%;
  left: 25px;
  transform: translate(0, -50%);
  width: 120px;
  .filter-ul {
    .filter-li {
      .li-cnt {
        display: none;
        margin-bottom: 20px;
        .max-li-cnt {
          max-height: 200px;
          overflow: auto;
        }
      }
      &.active {
        .li-cnt {
          display: block;
          &.mult-cnt {
            padding-bottom: 20px;
            border-bottom: 1px solid #eaeaea;
          }
        }
      }
    }
  }
}
.max-body-width {
  max-width: 1450px;
  margin: 0 auto;
}
.max-content-width {
  max-width: 1030px;
  margin: 0 auto;
}

.max-content-width-1 {
  max-width: 1100px;
  margin: 40px auto;
}
.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-decoration-underline {
  text-decoration: underline;
}
.table {
  th,
  td {
    vertical-align: middle;
  }
}
.tlt-sr {
  padding-right: 70px;
  .fr-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.noti-message {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 12px 2px #dadada;
  border-radius: 5px;
  width: 310px;
  .n-remove {
    position: absolute;
    right: -4px;
    top: -2px;
    display: inline-flex;
    cursor: pointer;
    &:hover {
      svg {
        path {
          stroke: $orange;
        }
      }
    }
  }
}
.set-message-show {
  position: fixed;
  left: 20px;
  bottom: 20px;
  padding: 8px 25px;
  text-transform: capitalize;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 600;
  display: flex;
  align-items: center;
  .success-i,
  .error-i {
    display: none;
    margin-right: 8px;
    svg {
      height: 14px;
      width: 14px;
    }
  }
  &.success {
    color: #1a531b;
    background-color: #e0efcb;
    .success-i {
      display: inline-flex;
    }
  }
  &.error {
    color: #d8000c;
    background-color: #ffbaba;
    .error-i {
      display: inline-flex;
      background: #d8000c;
      border-radius: 50%;
      height: 16px;
      width: 16px;
      align-items: center;
      justify-content: center;
      svg {
        height: 8px;
        width: 8px;
        path {
          stroke: #fff;
        }
      }
    }
  }
}
.com-icon {
  margin-right: 5px;
  cursor: pointer;
  display: inline-flex;
  &:hover {
    svg {
      path,
      line {
        stroke: $orange;
      }
    }
  }
}
.wh-100 {
  width: 100% !important;
  height: 100% !important;
}
.color-orange {
  color: $orange;
}
.color-gray7 {
  color: $gray7;
}
.color-green {
  color: $green;
}
.color-white {
  color: $white;
}
.color-primary-gray {
  color: $primary-gray;
}
.cursor-default {
  cursor: default !important;
}
.discount {
  position: absolute;
  top: 0;
  right: 0;
  background: $orange;
  color: $white;
  padding: 8px 31px;
  z-index: 9;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 2px;
}
.icon-hover {
  cursor: pointer;
  &:hover {
    svg {
      path,
      line {
        stroke: $orange;
      }
    }
  }
}
.show-img-pp {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  .show-img-p {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &.show-img-pp-pb-140 {
    padding-bottom: 140%;
  }
  &.show-img-pp-pb-80 {
    padding-bottom: 80%;
  }
  &.show-img-pp-pb-90 {
    padding-bottom: 90%;
  }
  &.show-img-pp-pb-110 {
    padding-bottom: 110%;
  }
}
.pro-cnt {
  position: relative;
  display: flex;
  // white-space: nowrap;
  .pro-img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 1px solid $black;
    img {
      border-radius: 50%;
    }
    &.pro-img-r0 {
      width: 30px;
      border-radius: 0;
      border: none;
      img {
        border-radius: 0;
      }
    }
    &.pro-img-sm {
      width: 42px;
      height: 42px;
    }
    &.pro-img-md {
      width: 56px;
      height: 56px;
    }
    &.pro-img-lg {
      width: 69px;
      height: 69px;
    }
    &.pro-img-xl {
      width: 89px;
      height: 89px;
    }
    &.pro-img-xxl {
      width: 145px;
      height: 145px;
    }
    &.pro-img-xxxl {
      width: 168px;
      height: 168px;
    }
  }
  .pro-txt-cnt {
    width: calc(100% - 38px);
    padding-left: 10px;
    &.pro-txt-cnt-r0 {
      width: calc(100% - 30px);
    }
    &.pro-txt-cnt-sm {
      width: calc(100% - 42px);
    }
    &.pro-txt-cnt-md {
      width: calc(100% - 56px);
    }
    &.pro-txt-cnt-lg {
      width: calc(100% - 69px);
    }
    &.pro-txt-cnt-xl {
      width: calc(100% - 89px);
    }
    &.pro-txt-cnt-xxl {
      width: calc(100% - 145px);
    }
    &.pro-txt-cnt-xxxl {
      width: calc(100% - 168px);
    }
  }
}
.sm-box {
  position: relative;
  display: inline-block;
  border: 1px solid $silver;
  padding: 14px 8px;
  margin: 5px;
  min-width: 95px;
  text-align: center;
  svg {
    width: 15px;
    height: 15px;
  }

  .color-s {
    display: inline-block;
    height: 16px;
    width: 16px;
    background: $black;
    margin-right: 15px;
    cursor: pointer;
    &.color-red {
      background: $red;
    }
    &.color-yellow {
      background: $yellow;
    }
    &.color-blue {
      background: $blue;
    }
  }
  &:hover,
  &.active {
    border: 1px solid $black;
  }
}
.border-bottom-1 {
  border-bottom: 1px solid $black;
}
.scale-hover {
  transform: scale(1);
  transition: 0.4s ease;
  svg {
    transform: scale(1);
    transition: 0.4s ease;
  }
  &:hover {
    transform: scale(1.1);
    svg {
      transform: scale(1.1);
    }
  }
}
.border-top-1 {
  border-top: 1px solid $black;
}
.custom-table {
  thead {
    th {
      border-bottom: 1px solid $black;
    }
  }
  th,
  td {
    border-top: none;
  }
  th,
  td {
    vertical-align: middle;
    border-bottom: 1px solid $black;
  }
}
.navbar {
  display: flex;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
  .navbar-collapse {
    display: flex;
  }
  .navbar-nav {
    flex-direction: row;
    .nav-item {
      position: relative;
      @include margin-p-map($navbar-nav-item-margin);
      .nav-link {
        padding: 0;
        font-family: $font-family;
        color: $black;
        text-transform: uppercase;
        @include font-size-p-map($navbar-nav-link-font-size);
        font-weight: 600;
        svg {
          @include width-p-map($navbar-nav-link-svg-width);
          @include height-p-map($navbar-nav-link-svg-height);
        }
        &:hover {
          color: $orange;
          svg {
            stroke: $orange;
            path {
              stroke: $orange;
            }
          }
        }
      }
    }
  }
}
.custom-breadcrumb {
  padding: 0;
  background: transparent;
  .breadcrumb-item {
    a {
      color: $black;
      &:hover {
        color: $orange;
      }
    }
    &::before {
      color: $black;
    }
  }
}
.cat-ul {
  .cat-li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    &::after {
      content: "";
      position: absolute;
      right: -12px;
      top: 50%;
      transform: translate(0, -50%);
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background: $primary-gray;
    }
    &:last-child {
      &::after {
        display: none;
      }
    }
  }
}
.comment-box,
.search-item-all,
.max-li-cnt,
.tbl-2,
.chat-list,
.item-list,
.box-cnt,
.list-ul {
  &::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
  }
  &::-webkit-scrollbar {
    width: 3px;
    background-color: #fff;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #000;
  }
}
.tbl-2 {
  &::-webkit-scrollbar {
    height: 3px;
  }
}
.emoji-list {
  width: 100% !important;
}
.infinite-scroll-component {
  overflow-x: hidden !important;
}
.ql-editor {
  min-height: 200px;
}
.react-tel-input {
  .form-control {
    width: 100% !important;
    margin-left: 0 !important;
  }
}
.play-icon {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  background: black;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9;
  border: 1px solid #fff;
  overflow: hidden;
}
.hover-underline {
  &:hover {
    text-decoration: underline;
  }
}
.form-group {
  .abcRioButtonLightBlue {
    background-color: #efefef;
    color: #868686;
    box-shadow: none !important;
    font-size: 16px;
    border-radius: 0;
    height: 46px !important;
    width: 100% !important;
    .abcRioButtonContentWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .abcRioButtonIcon {
      margin-right: 8px;
      padding: 0 !important;
    }
    .abcRioButtonContents {
      span {
        font-size: 16px;
        font-weight: 500;
        font-family: "HK Grotesk";
      }
    }
  }
}
.cart-sm-box {
  @include top-p-map($cart-sm-box-top);
  @include left-p-map($cart-sm-box-left);
  @include right-p-map($cart-sm-box-right);
  .box-arr {
    position: absolute;
    @include left-p-map($cart-sm-box-box-arr-left);
    @include right-p-map($cart-sm-box-box-arr-right);
    top: -28px;
    transform: rotate(180deg);
  }
  .pro-cnt {
    .pro-img {
      width: 40px;
      height: 55px;
    }
    .pro-txt-cnt {
      width: calc(100% - 40px);
    }
  }
  .close-cart {
    position: absolute;
    left: 3px;
    right: unset;
    top: 50%;
    display: inline-flex;
    transform: translate(0, -50%);
    svg {
      width: 10px;
      height: 10px;
    }
  }
  &.list-box {
    width: max-content;
    min-width: 150px;
    &:after {
      position: absolute;
      content: "";
      width: 35px;
      height: 35px;
      top: -36px;
      left: 12px;
      background: transparent;
    }
  }
}
#root {
  .notifications-component {
    z-index: 999999;
  }
}
