@import "./_variables.scss";
@import "./_mixins.scss";
.tab-nav {
  border-bottom: 1px solid $black;
  .nav-link {
    position: relative;
    display: inline-block;
    @include padding-p-map($tab-nav-link-padding);
    @include width-p-map($tab-nav-link-width);
    @include font-size-p-map($tab-nav-link-font-size);
    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 4px;
      background: $black;
      transition: all 0.6s ease;
      opacity: 0;
    }
    &:hover {
      color: $black;
      &::after {
        opacity: 1;
        width: 100%;
      }
    }
    &.active {
      color: $black;
      &::after {
        opacity: 1;
        width: 100%;
      }
    }
  }
  &.v-tab-nav {
    .nav-link {
      color: $black;
      display: inline-flex;
      align-items: center;

      svg {
        margin-left: 8px;
      }
    }
  }
}
.pagination {
  margin-bottom: 60px;
  .page-link {
    color: #000;
    background-color: transparent;
    border: 1px solid #000;
    transition: unset;
    &:hover {
      color: #fff;
      background-color: #000;
      border-color: #000;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .page-item {
    &.active {
      .page-link {
        background-color: #000;
        border-color: #000;
      }
    }
  }
}
.slide-indicator {
  position: absolute;
  @include bottom-p-map($slide-indicator-bottom);
  @include left-p-map($slide-indicator-left);
  z-index: 9;
  .in-li {
    display: inline-block;
    width: 7px;
    height: 9px;
    margin-right: 5px;
    border: 1px solid #000;
    cursor: pointer;
    transform: scale(1);
    &:hover {
      background: #000;
      transform: scale(1.2);
    }
    &.active {
      background: #000;
    }
  }
}
