@import "./../../theme/variables.scss";
@import "./../../theme/mixins.scss";
.buyer-section {
  background: #f1f1f1;
  @include padding-p-map($buyer-section-padding);
}
.buyer-cnt {
  max-width: 685px;
  margin: auto;
}
.be-message {
  @include padding-p-map($be-message-padding);
    border: 1px solid #000;
    background: #fff;
}
.hi-txt {
    font-size: 25px;
}
