@import "../../../theme/_variables.scss";
@import "../../../theme/_mixins.scss";
.filter-menu {
  position: fixed;
  text-align: center;
  top: 50%;
  @include left-p-map($filter-menu-left);
  transform: translate(0, -50%);
  z-index: 99;
  .filter-tlt {
    font-family: $font-family-roboto;
    color: $primary-gray;
    font-size: 12px;
    text-transform: uppercase;
  }
  .navbar {
    width: max-content;
    margin: auto;
    .navbar-nav {
      .nav-item {
        .nav-link {
          font-family: $font-family-roboto;
          margin: 20px 0;
          font-weight: 400;
        }
        &.active,&:hover {
          .nav-link {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
