@import "./../../theme/_variables.scss";
@import "./../../theme/_mixins.scss";
.seller-section {
  min-height: calc(100vh - 135px);
  .tbl-cnt {
    .tbl-2 {
      @include min-height-p-map($tbl-2-min-height);
      &.order-tbl-2 {
        @include min-height-p-map($order-tbl-2-min-height);
      }
    }
    .box-show {
      &.active {
        .box-cnt2 {
          @include display-p-map($seller-box-cnt2-display);
        }
      }
    }
  }
  .order-tbl {
    td,th {
      height: 51px;
    }
  }
}
.nav-fill {
  .nav-link {
    width: max-content;
  }
}
.seller-ul {
  width: 180px;
  height: max-content;
  .flex-column {
    border-left: 1px solid $black;
    .nav-link {
      padding: 0 0 0 18px;
      margin-bottom: 15px;
      display: flex;
      align-items: center;
      svg {
        path,
        line {
          stroke: $primary-gray;
        }
      }
      .li-icons {
        margin-right: 10px;
      }
      .ar-ri {
        display: none;
        margin-left: 8px;
      }
      &:hover,
      &.active {
        color: $black;
        .ar-ri {
          display: inline-block;
        }
        svg {
          path,
          line {
            stroke: $black;
          }
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.seller-cnt {
  @include width-p-map($seller-cnt-width);
  width: calc(100% - 180px);
}
.s-top-tlt {
  .btn {
    @include padding-p-map($s-top-tlt-btn-padding);
    svg {
      margin-left: 5px;
      width: 10px;
      height: 10px;
      path,
      line {
        stroke: $black;
      }
    }
  }
}
.w-50 {
  width: 50%;
}
.w-35 {
  width: 35%;
}
.due-amnt {
  @include padding-p-map($due-amnt-padding);
  @include border-p-map($due-amnt-border);
}
